<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<script th:src="@{/js/language.js}"></script>
</head>
<script type="text/javascript">
	/*<![CDATA[*/
	//Plug-in to fetch page data 
	jQuery.fn.dataTableExt.oApi.fnPagingInfo = function(oSettings) {
		return {
			"iStart" : oSettings._iDisplayStart,
			"iEnd" : oSettings.fnDisplayEnd(),
			"iLength" : oSettings._iDisplayLength,
			"iTotal" : oSettings.fnRecordsTotal(),
			"iFilteredTotal" : oSettings.fnRecordsDisplay(),
			"iPage" : oSettings._iDisplayLength === -1 ? 0 : Math
					.ceil(oSettings._iDisplayStart / oSettings._iDisplayLength),
			"iTotalPages" : oSettings._iDisplayLength === -1 ? 0 : Math
					.ceil(oSettings.fnRecordsDisplay()
							/ oSettings._iDisplayLength)
		};
	};

	function fetchChangeHistory () {

		var t = $("#dynamic-table")
				.DataTable(
						{
							"processing" : true,
							"serverSide" : true,
							"sort" : "position",
							//bStateSave variable you can use to save state on client cookies: set value "true" 
							"bStateSave" : false,
							//Default: Page display length
							"iDisplayLength" : 10,
							//We will use below variable to track page number on server side(For more information visit: http://legacy.datatables.net/usage/options#iDisplayStart)
							"iDisplayStart" : 0,
							"pagingType" : "full_numbers",
							"aaSorting" : [],
							/* "dom" : 'Blrtip', */
							"dom" : "<'row'<'col-12 datatbl-top'lB>>"
									+ "<'row'<'col-md-6'r><'col-md-6'>>"
									+ "<'row'<'col-md-12't>><'row'<'col-md-6'i><'col-md-6'p>>",
						
									"buttons" : [
										{
				                               "extend": 'copy',
				                               "text": '<i class="fa fa-files-o"></i>',
				                               "titleAttr": 'Copy',                               
				                               "action": newexportaction
				                           },{
				                               "extend": 'excel',
				                               "text": '<i class="fa fa-file-excel-o"></i>',
				                               "titleAttr": 'Export Full Excel',                               
				                               "action": newexportaction
				                           },/* {
												extend : 'excelHtml5',
												title : 'change_history_data',
												text : '<span class="fa fa-file-excel-o"></span> Excel Export',
												exportOptions : {
													columns : [ 0, 1,2,3,4,5,6,7,8,9,10,11]
												}
											}, */ ],
									
									
							"lengthMenu" : [ [ 10, 25, 50, 100000 ],
									[ 10, 25, 50, "All" ] ],

							"fnDrawCallback" : function() {

								angular.element('#StartOrFinishSpinnerId')
										.scope().startOrStopSpinner(false);

								//Get page numer on client. Please note: number start from 0 So
								//for the first page you will see 0 second page 1 third page 2...
								//Un-comment below alert to see page number
								//alert("Current page number: "+this.fnPagingInfo().iPage);    
							},
							"fnCreatedRow" : function(nRow, aData, iDataIndex) {
								/* $('td:eq(2)', nRow).html('<a class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="top" title="View/Edit" href="#editBankForm/'+aData.workId+'"><i class="fa fa-pencil"></i></a>'); */
								
								
								/* $('td:eq(2)', nRow)
								.append('<a onclick="return deleteBank('+ aData.bankId + ');" href="" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash-o"></i></a> '); */
								
							},
							"fnRowCallback" : function(nRow, aData,
									iDisplayIndex, iDisplayIndexFull) {
								/* $('td:eq(0)', nRow)
										.html(
												(this.fnPagingInfo().iPage
								 * this.fnPagingInfo().iLength + (iDisplayIndex + 1))); */
							},

							"language" : {
								searchPlaceholder : ""
							},
							"sAjaxSource" : "fetchChangeHistory",

							"columns" : [ {
								"data" : "index",
								"bSortable" : false
							}, {
								"data" : "workRequisitionNo",
								
							}, {
								"data" : "workName",
								
							
						/* 	},  {
								"data" : "workTypeName",
								"bSortable" : false
							}, {
								"data" : "workSubTypeName",
								"bSortable" : false */
							},{
								/* "data" : "lineDepartmentName",
								"bSortable" : false
							},{ */
								"data" : "districtName",
								"bSortable" : false
							},
							
							{
								
								"data" : "blockName",
								"bSortable" : false
								
							},
							{
								
							
								
								
								"mData" : null,
								//"visible": false,
								"bSortable" : false,
			  	            	mRender: function (data, type, row) {
			  	            		var tenderedRateSign = row.tenderedRateSign;
			  	            		if(null == tenderedRateSign){
			  	            			tenderedRateSign="-";
			  	            		}
			  	            		return tenderedRateSign; 
			  	            	}
							},
							
							
							{
								
								"mData" : null,
								//"visible": false,
								"bSortable" : false,
			  	            	mRender: function (data, type, row) {
			  	            		var tenderCost = row.tenderCost;
			  	            		if(null == tenderCost){
			  	            			tenderCost="-";
			  	            		}
			  	            		return tenderCost; 
			  	            	}
							},
							
							
							{
								/* "mData" : null,
								//"visible": false,
			  	            	mRender: function (data, type, row) {
			  	            		var expenditureAmountTotal = row.expenditureAmountTotal;
			  	            		if(null == expenditureAmountTotal){
			  	            			expenditureAmountTotal="-";
			  	            		}
			  	            		return expenditureAmountTotal; 
			  	            	}
							},
							
							{ */
								"mData" : null,
								//"visible": false,
								"bSortable" : false,
			  	            	mRender: function (data, type, row) {
			  	            		var technicalSanctionAmount = row.technicalSanctionAmount;
			  	            		if(null == technicalSanctionAmount){
			  	            			technicalSanctionAmount="-";
			  	            		}
			  	            		return technicalSanctionAmount; 
			  	            	}
							},
							
							{
								
								"mData" : null,
								//"visible": false,
								"bSortable" : false,
			  	            	mRender: function (data, type, row) {
			  	            		var administrationSanctionAmount = row.administrationSanctionAmount;
			  	            		if(null == administrationSanctionAmount){
			  	            			administrationSanctionAmount="-";
			  	            		}
			  	            		return administrationSanctionAmount; 
			  	            	}
							},
							
							{
								/* "mData" : null,
								//"visible": false,
								"bSortable" : false,
			  	            	mRender: function (data, type, row) {
			  	            		var tentativeCompletionDateString = row.tentativeCompletionDateString;
			  	            		if(null == tentativeCompletionDateString){
			  	            			tentativeCompletionDateString="-";
			  	            		}
			  	            		return tentativeCompletionDateString; 
			  	            	}
							},
							
							{ */
								"mData" : null,
								//"visible": false,
								"bSortable" : false,
			  	            	mRender: function (data, type, row) {
			  	            		var agreementDateString = row.agreementDateString;
			  	            		if(null == agreementDateString){
			  	            			agreementDateString="-";
			  	            		}
			  	            		return agreementDateString; 
			  	            	}
							},
							
							{
								/* "mData" : null,
								"bSortable" : false, 
			  	            	mRender: function (data, type, row) {
			  	            		var workStatus=row.workStatus;
			  	            		if(null== workStatus){
			  	            			workStatus="-";
			  	            		}
			  	            		return workStatus; 
			  	            	}
								
								
							},
							
							{ */
								
								"data" : "grandTotalExpWithcontingency",
								"bSortable" : false,
								//"visible": false,
								mRender: function (data, type, row) {
			  	            		var grandTotalExpWithcontingency=row.grandTotalExpWithcontingency;
			  	            		if(null== grandTotalExpWithcontingency){
			  	            			grandTotalExpWithcontingency="-";
			  	            		}
			  	            		return grandTotalExpWithcontingency; 
			  	            	}
							},
							{
								
								"data" : "MaxBillingAmount",
								"bSortable" : false,
								//"visible": false,
								mRender: function (data, type, row) {
			  	            		var maxBillingAmount=row.maxBillingAmount;
			  	            		if(null== maxBillingAmount){
			  	            			maxBillingAmount="-";
			  	            		}
			  	            		return maxBillingAmount; 
			  	            	}
							
							
                         
							},
							],

						});
		
		
		
		function newexportaction(e, dt, button, config) {
		    var self = this;
		    var oldStart = dt.settings()[0]._iDisplayStart;
		    dt.one('preXhr', function (e, s, data) {
		        // Just this once, load all data from the server...
		        data.start = 0;
		        data.iDisplayLength = 2147483647;
		        dt.one('preDraw', function (e, settings) {
		            // Call the original action function
		            if (button[0].className.indexOf('buttons-copy') >= 0) {
		                $.fn.dataTable.ext.buttons.copyHtml5.action.call(self, e, dt, button, config);
		            } else if (button[0].className.indexOf('buttons-excel') >= 0) {
		                $.fn.dataTable.ext.buttons.excelHtml5.available(dt, config) ?
		                    $.fn.dataTable.ext.buttons.excelHtml5.action.call(self, e, dt, button, config) :
		                    $.fn.dataTable.ext.buttons.excelFlash.action.call(self, e, dt, button, config);
		            } /* else if (button[0].className.indexOf('buttons-csv') >= 0) {
		                $.fn.dataTable.ext.buttons.csvHtml5.available(dt, config) ?
		                    $.fn.dataTable.ext.buttons.csvHtml5.action.call(self, e, dt, button, config) :
		                    $.fn.dataTable.ext.buttons.csvFlash.action.call(self, e, dt, button, config);
		            } else if (button[0].className.indexOf('buttons-pdf') >= 0) {
		                $.fn.dataTable.ext.buttons.pdfHtml5.available(dt, config) ?
		                    $.fn.dataTable.ext.buttons.pdfHtml5.action.call(self, e, dt, button, config) :
		                    $.fn.dataTable.ext.buttons.pdfFlash.action.call(self, e, dt, button, config);
		            } */ else if (button[0].className.indexOf('buttons-print') >= 0) {
		                $.fn.dataTable.ext.buttons.print.action(e, dt, button, config);
		            }
		            dt.one('preXhr', function (e, s, data) {
		                // DataTables thinks the first item displayed is index 0, but we're not drawing that.
		                // Set the property to what it was before exporting.
		                settings._iDisplayStart = oldStart;
		                data.start = oldStart;
		             });
		            // Reload the grid with the original page. Otherwise, API functions like table.cell(this) don't work properly.
		           // setTimeout(dt.ajax.reload, 0);
		            // Prevent rendering of the full data to the DOM
		            return false;
		        });
		    });
		    // Requery the server with the new one-time export settings
		    dt.ajax.reload();
		};
	}
/* 	$(function() {
		$('.datatbl-top').append('<div class="dt-buttons btn-group ml-1"><a class="btn btn-secondary" href="#addBankForm"> <span th:text="#{addBank}">Add Bank</span></a></div>')
	}); */
	function deleteBank(bankId) {

		/* return angular.element(document.getElementById('CommonController')) */
		return $('#page-div').scope().deleteBank(bankId);
	}

		
	
	/*]]>*/
</script>

<div id="StartOrFinishSpinnerId"></div>

<div id="page-div">
	<!-- Breadcrumb -->
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#dashboard"><span th:text="#{home}">Home</span></a></li>
		<li class="breadcrumb-item active"><span>Change History Report</span></li>

		<!-- Breadcrumb Menu-->
		<li class="breadcrumb-menu d-md-down-none">
			<div class="btn-group" role="group" aria-label="Button group">
				<a class="btn" data-ng-click="doTheBack()"><i
					class="icon-arrow-left-circle"></i> &nbsp;<span th:text="#{back}">Back</span></a>
			</div>
		</li>
	</ol>
	<div class="container-fluid">
		<div class="animated fadeIn">
			<div class="row" data-ng-init="fetchChangeHistory()">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<i class="fa fa-folder-open-o"></i> <span>Change History Report</span>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<div data-ng-if="responseObject.successMessage != null"
										class="text-success">
										<strong>Success!</strong>
										<p>{{responseObject.successMessage}}</p>
									</div>
								</div>
							</div>
							<div class="table-responsive">
								<table id="dynamic-table"
									class="table table-striped table-bordered table-hover table-outline">
									<thead class="thead-default">
										<tr>
											<th><span>#</span></th>
											<th><span>Work Requisition No</span></th>
											<th><span th:text="#{workName}">Work Name</span></th>
											<!-- <th><span th:text="#{workType}">Work Type</span></th>
											<th><span th:text="#{workSubType}">Work Sub Type</span></th> -->
											<!-- <th><span th:text="#{lineDepartment}">Line Department</span></th> -->
											<th><span th:text="#{district}">District</span></th>
											<th><span th:text="#{block}">Block</span></th>
											<!-- <th style="display: none;"><span th:text="#{gramPanchayat}">Gram Panchayat</span></th>
											<th style="display: none;"><span th:text="#{village}">Village</span></th>
											<th style="display: none;"><span th:text="#{accountHead}">accountHead</span></th>
											<th style="display: none;"><span th:text="#{executionAgency}">Execution Agency</span></th>
											<th style="display: none;"><span th:text="#{contractor}">Contractor</span></th> -->
											<th><span>Tender Rate</span></th>
												<th><span>Tender Cost</span></th>
											<!-- <th><span>Expenditure Cost</span></th> -->
											<th><span>TS Amount</span></th>
											<th><span>Administration Sanction Amount</span></th>
												<!-- <th><span>Stipulated DOC</span></th> -->
												<th><span>Agreement Date</span></th>
											<!-- <th><span th:text="#{workStatus}">Work Status</span></th> -->
											<th><span >Expendture Till Today</span></th>
											<th><span >Final Expendture Amount</span></th>
											
											
											<!-- <th><span>Status</span></th> -->
											<!-- <th nowrap="nowrap"><span th:text="#{action}">Action</span></th> -->
										</tr>
									</thead>
								</table>
							</div>
							<!-- <div class="col-md-12" align="center">
								<a class="btn btn-success" href="#addRatesForm"> <span th:text="#{addRates}">Add Rates</span>
								</a>
							</div> -->
						</div>
					</div>
				</div>
				<!--/.col-->
			</div>
			<!--/.row-->
		</div>

	</div>
	<!-- /.container-fluid -->
</div>
</html>