<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<script th:src="@{/js/language.js}"></script>
<style>
table tfoot th {
    background: #eae9e9;
    border-color: #cfcfcf!important;
}</style>
</head>
<script type="text/javascript">

function updateAeName(id) {
	/* alert(id); */
	
	//angular.element("#dynamic-table").scope().loadUpdateAccountHead(id);
	angular.element("#dynamic-table").scope().loadBillDetailsforAE(id);
}



function updateAeEeName(id) {
	/* alert(id); */
	
	//angular.element("#dynamic-table").scope().loadUpdateAccountHead(id);
	angular.element("#dynamic-table").scope().loadBillDetailsforAEEE(id);
}

function updateSESDOName(id) {
	/* alert(id); */
	
	//angular.element("#dynamic-table").scope().loadUpdateAccountHead(id);
	angular.element("#dynamic-table").scope().loadBillDetailsforSESDO(id);
}

function updateSESDOEEName(id) {
	/* alert(id); */
	
	//angular.element("#dynamic-table").scope().loadUpdateAccountHead(id);
	angular.element("#dynamic-table").scope().loadBillDetailsforSESDOEE(id);
}
function updateBillStatus(id) {
	/* alert(id); */
	
	//angular.element("#dynamic-table").scope().loadUpdateAccountHead(id);
	angular.element("#dynamic-table").scope().updateBillStatus(id);
}


function fwdForPayment(billId){
	angular.element("#dynamic-table").scope().fwdForPayment(billId);
}

function rejectBillLoad(billId){
	angular.element("#dynamic-table").scope().rejectBillLoad(billId);
}
function deleteBillLoad(billId){
	angular.element("#dynamic-table").scope().deleteBillLoad(billId);
}

function revertToPhysicalInspectionCompleted(billId){
	angular.element("#dynamic-table").scope().revertToPhysicalInspectionCompleted(billId);
}


	/*<![CDATA[*/
	//Plug-in to fetch page data 
	jQuery.fn.dataTableExt.oApi.fnPagingInfo = function(oSettings) {
		return {
			"iStart" : oSettings._iDisplayStart,
			"iEnd" : oSettings.fnDisplayEnd(),
			"iLength" : oSettings._iDisplayLength,
			"iTotal" : oSettings.fnRecordsTotal(),
			"iFilteredTotal" : oSettings.fnRecordsDisplay(),
			"iPage" : oSettings._iDisplayLength === -1 ? 0 : Math
					.ceil(oSettings._iDisplayStart / oSettings._iDisplayLength),
			"iTotalPages" : oSettings._iDisplayLength === -1 ? 0 : Math
					.ceil(oSettings.fnRecordsDisplay()
							/ oSettings._iDisplayLength)
		};
	};
	var t = null;
	function fetchBills() {

		t = $("#dynamic-table")
				.DataTable(
						{
							
							"footerCallback": function ( row, data, start, end, display ) {
					            var api = this.api(), data;
					            // converting to interger to find total
						            var intVal = function ( i ) {
						                return typeof i === 'string' ?
						                    i.replace(/[\$,]/g, '')*1 :
						                    typeof i === 'number' ?
						                        i : 0;
						            };
								// computing column Total of the complete result 
					         
									
						    var threeTotal = api
					                .column( 6 )
					                .data()
					                .reduce( function (a, b) {
					                    return intVal(a) + intVal(b);
					                }, 0 );
					            // Update footer by showing the total with the reference of the column index 
						    	$( api.column( 1 ).footer() ).html('Total');
					           /*  $( api.column( 2 ).footer() ).html(twoTotal); */
					            $( api.column( 6).footer() ).html(threeTotal);
					             
					        },
							
							"processing" : true,
							"serverSide" : true,
							"sort" : "position",
							//bStateSave variable you can use to save state on client cookies: set value "true" 
							"bStateSave" : false,
							//Default: Page display length
							"iDisplayLength" : 10,
							//We will use below variable to track page number on server side(For more information visit: http://legacy.datatables.net/usage/options#iDisplayStart)
							"iDisplayStart" : 0,
							"pagingType" : "full_numbers",
							"aaSorting" : [],
							"bDestroy": true,
							/* "dom" : 'Blrtip', */
							"dom" : "<'row'<'col-12 datatbl-top'lB>>"
									+ "<'row'<'col-md-6'r><'col-md-6'>>"
									+ "<'row'<'col-md-12't>><'row'<'col-md-6'i><'col-md-6'p>>",
							"buttons" : [
									{
										extend : 'excelHtml5',
										title : 'Work_data',
										text : '<span class="fa fa-file-excel-o"></span> Excel Export',
										exportOptions : {
											columns : [ 0, 1, 2, 3, 4, 5, 6,7 ]
										}
									}, ],
							"lengthMenu" : [ [ 10, 25, 50, 100000 ],
									[ 10, 25, 50, "All" ] ],

							"fnDrawCallback" : function() {

								angular.element('#StartOrFinishSpinnerId')
										.scope().startOrStopSpinner(false);

								//Get page numer on client. Please note: number start from 0 So
								//for the first page you will see 0 second page 1 third page 2...
								//Un-comment below alert to see page number
								//alert("Current page number: "+this.fnPagingInfo().iPage);    
							},
							"fnServerParams" : function(aoData) {
								aoData.push({
									"name" : "searchBoxVal",
									"value" : $('#searchBox').val()
								});
								aoData.push({
									"name" : "billDateFrom",
									"value" : $('#billDateFrom').val()
								});
								aoData.push({
									"name" : "billDateTo",
									"value" : $('#billDateTo').val()
								});
								aoData.push({
									"name" : "status",
									"value" : $('#status').val()
								});
							},
							"fnCreatedRow" : function(nRow, aData, iDataIndex) {
								
								$('td:eq(8)', nRow)
								.html('<a class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="top" title="View" href="#viewBill/'+aData.id+'"><i class="fa fa-eye"></i></a>');
								
								$('td:eq(8)', nRow)
								.append( (aData.statusId == 1   ? '<a class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="top" title="Delete" href="javascript:deleteBillLoad('+'\''+aData.id+'\''+')"  ><i class="fa fa-remove"></i></a>'
										: ""));
								
								
						 
							 if(aData.billType == "Running") {
								$('td:eq(8)', nRow)
								.append( (aData.statusId == 5  &&  aData.isRevised == 0 ? '<a class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="top" title="Revise Bill" href="#reviseBill/'+aData.id+'"><i class="fa fa-pencil"></i></a>'
										: ""));
								
								$('td:eq(8)', nRow)
								.append( (aData.statusId == 5  ? '<a class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="top" title="Fwd for Payment" href="javascript:fwdForPayment('+'\''+aData.id+'\''+')"  ><i class="fa fa-arrow-right"></i></a>'
										: ""));
								
								
								$('td:eq(8)', nRow)
								.append( (aData.statusId == 3  ? '<a class="btn btn-xs btn-warning" data-toggle="tooltip" data-placement="top" title="Update Inspection Users"  href="javascript:void(0)" onclick="updateSESDOName('+aData.id+')"> <i class="icon-user-following"></i></a>'
										: ""));
								$('td:eq(8)', nRow)
								.append( (aData.statusId == 4 || aData.statusId == 2 || aData.statusId == 3 || aData.statusId == 5   ? '<a class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="top" title="Reject & Revise"  href="javascript:void(0)" onclick="updateBillStatus('+aData.id+')"> <i class="fa fa-building-o"></i></a>'
										: ""));
								
								$('td:eq(8)', nRow)
								.append( (aData.statusId == 5 || aData.statusId == 2 || aData.statusId == 3 || aData.statusId == 4  ? '<a class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Reject" href="javascript:void(0)" onclick="rejectBillLoad('+aData.id+')"><i class="fa fa-remove"></i></a>'
										: ""));
								
								$('td:eq(8)', nRow)
								.append( (aData.statusId == 4 ? '<a class="btn btn-xs btn-warning" data-toggle="tooltip" data-placement="top" title="Revert To Physical Inspection Completed" href="javascript:revertToPhysicalInspectionCompleted('+'\''+aData.id+'\''+')"  ><i class="fa fa-arrow-left"></i></a>'
										: ""));
								
								
							 }
								
     						 else if(aData.billType == "Final") {
							
     							 //Physical CC Disptached only Bill can be fwd for Payment
	     						if(aData.workStatusId >= 13) {
									
									$('td:eq(8)', nRow)
									.append( (aData.statusId == 5  ? '<a class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="top" title="Fwd for Payment" href="javascript:fwdForPayment('+'\''+aData.id+'\''+')"  ><i class="fa fa-arrow-right"></i></a>'
											: ""));
									
									
	     						}
	     					
	     						
	     						 $('td:eq(8)', nRow)
									.append( (aData.statusId == 5  &&  aData.isRevised == 0 ? '<a class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="top" title="Revise Bill" href="#reviseBill/'+aData.id+'"><i class="fa fa-pencil"></i></a>'
											: "")); 
     							 
     							 //Final Bill can be rejected
								
								$('td:eq(8)', nRow)
								.append( (aData.statusId == 5 || aData.statusId == 2 || aData.statusId == 3 || aData.statusId == 4  ? '<a class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Reject" href="javascript:void(0)" onclick="rejectBillLoad('+aData.id+')"><i class="fa fa-remove"></i></a>'
										: ""));
     							 
								$('td:eq(8)', nRow)
								.append( (aData.statusId == 3  ? '<a class="btn btn-xs btn-warning" data-toggle="tooltip" data-placement="top" title="Update Inspection Users"  href="javascript:void(0)" onclick="updateAeEeName('+aData.id+')"> <i class="icon-user-following"></i></a>'
										: ""));
								
								$('td:eq(8)', nRow)
								.append( (aData.statusId == 4 || aData.statusId == 2 || aData.statusId == 3 || aData.statusId == 5   ? '<a class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="top" title="Reject & Revise"  href="javascript:void(0)" onclick="updateBillStatus('+aData.id+')"> <i class="fa fa-building-o"></i></a>'
										: ""));
								
								$('td:eq(8)', nRow)
								.append( (aData.statusId == 4 ? '<a class="btn btn-xs btn-warning" data-toggle="tooltip" data-placement="top" title="Revert To Physical Inspection Completed" href="javascript:revertToPhysicalInspectionCompleted('+'\''+aData.id+'\''+')"  ><i class="fa fa-arrow-left"></i></a>'
										: ""));
								
							 }
							 
								
								
								
								$('td:eq(8)', nRow)
										.append( (aData.statusId == 1 || aData.statusId == 2 || aData.statusId == 5 ? '<a class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="top" title="Edit" href="#editBill/'+aData.id+'"><i class="fa fa-pencil"></i></a>'
												: ""));
								
								
							 if(aData.isRevised == 0) {
								 $('td:eq(8)', nRow)
									.append('<a class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="top" title="print" href="#printBill/'+aData.id+'" target="_blank"><i class="fa fa-print"></i></a> ' );
									 
							 }			
							  		
							 if(aData.isRevised == 1) {
								 $('td:eq(8)', nRow)
									.append('<a class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="top" title="print Revised Bill" href="#printBill/'+aData.id+'" target="_blank"><i class="fa fa-print"></i></a> ' );
								 
								 $('td:eq(8)', nRow)
									.append('<a class="btn btn-xs btn-warning" data-toggle="tooltip" data-placement="top" title="print Original Bill" href="#printOriginalBill/'+aData.id+'" target="_blank"><i class="fa fa-print"></i></a> ' );
									 
							 }			
										
							  },
							
							
							"fnRowCallback" : function(nRow, aData,
									iDisplayIndex, iDisplayIndexFull) {
								/* $('td:eq(0)', nRow)
										.html(
												(this.fnPagingInfo().iPage
								 * this.fnPagingInfo().iLength + (iDisplayIndex + 1))); */
							},

							"language" : {
								searchPlaceholder : ""
							},
							"sAjaxSource" : "fetchBills",

							"columns" : [ {
								"data" : "index",
								"bSortable" : false
							}, {
								"data" : "billNo"
							}, {
								"data" : "billDate"
							}, {
								"data" : "billType"
							}, {
								"data" : "workName"
							},
							{
								"data" : "workRequisitionNo"
							},
							{
								"data" : "billAmount",
								"bSortable" : false
							},
							{
								"data" : "status"
							}, {
								"data" : null,
								"bSortable" : false
							} ],

						});
	}
	
	function deleteBill(id) {

		return $('#page-div').scope().deleteBill(id);
	}
	
	function reDraw() {
		t.draw();
	}

	$('#filter-btn').click(function() {
		$('#filters').fadeToggle(300);
	});
	$('.filter-close').click(function(e) {
		e.preventDefault();
		$(this).parent('#filters').fadeOut(300);
	});
	/* $('#applyFilters').click(function(e) {
		e.preventDefault();
		$(this).parent('#filters').fadeOut(300);
		$('#searchForm').submit();
	}); */
	var filter_box = $('#filters');
	$(document).mouseup(function(e) {
		if (!filter_box.is(e.target) && filter_box.has(e.target).length === 0) {
			$('#filters:visible').fadeOut('300');
		}
	});
	$(function() {
		
		$('#datetimepicker1').datetimepicker({
			//viewMode : 'days',
			//useCurrent: false,
			maxDate : moment(),
			format : 'DD/MM/YYYY'
		});
		
		$('#datetimepicker2').datetimepicker({
			//viewMode : 'days',
			//useCurrent: false,
			maxDate : moment(),
			format : 'DD/MM/YYYY'
		});
		
		$("#datetimepicker1").on("change.datetimepicker", function (e) {
	        $('#datetimepicker2').datetimepicker('minDate', e.date);
        });
        $("#datetimepicker2").on("change.datetimepicker", function (e) {
            $('#datetimepicker1').datetimepicker('maxDate', e.date);
        });
	});

	/*]]>*/
</script>

<div id="StartOrFinishSpinnerId"></div>

<div id="page-div">
	<!-- Breadcrumb -->
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#dashboard"><span
				th:text="#{home}">Home</span></a></li>
		<li class="breadcrumb-item active"><span th:text="#{viewBills}">View Bills</span></li>

		<!-- Breadcrumb Menu-->
		<li class="breadcrumb-menu d-md-down-none">
			<div class="btn-group" role="group" aria-label="Button group">
				<a class="btn" data-ng-click="doTheBack()"><i
					class="icon-arrow-left-circle"></i> &nbsp;<span th:text="#{back}">Back</span></a>
			</div>
		</li>
	</ol>
	<div class="container-fluid">
		<div class="animated fadeIn">
			<div class="row" data-ng-init="loadBills()">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<i class="fa fa-folder-open-o"></i> <span
								th:text="#{viewBills}">View Bills</span>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<div data-ng-if="responseObject.successMessage != null"
										class="text-success">
										<strong>Success!</strong>
										<p>{{responseObject.successMessage}}</p>
									</div>
								</div>
							</div>
							<div class="pr">
								<form name="searchForm" novalidate="novalidate" id="searchForm"
									data-ng-submit="searchByBillNoWorkNameOrAnyFilters()">
									<div class="row">
										<div class="input-group mb-3 col-md-8 filter-box">
											<input type="text" class="form-control" id="searchBox"
												placeholder="Search by Work Name [Please enter atleast four characters]"
												data-ng-model="searchBox" maxlength="100" />
											<div class="btn-group pr">
												<button class="btn btn-secondary" type="submit"
													title="Search">
													<i class="fa fa-search"></i>
												</button>
												<button class="btn btn-secondary" type="reset"
													data-ng-click="resetFunction()" title="Reset">
													<i class="fa fa-refresh"></i>
												</button>
												<button class="btn btn-secondary" id="filter-btn"
													title="Filter" type="button">
													<i class="fa fa-filter"></i>
												</button>
												<div id="filters">
													<a href="" class="filter-close"><i
														class="icon-close icons"></i></a>
													<div class="form-group">
														<label><span th:text="#{billDate}">Bill Date</span></label><br/>
														<label>-<span th:text="#{from}">From</span></label>
														<div class="input-group date" id="datetimepicker1"
															data-target-input="nearest">
															<input type="text" 
																class="form-control datetimepicker-input"
																data-target="#datetimepicker1" name="billDateFrom"
																data-ng-model="billDateFrom" placeholder="DD/MM/YYYY"
																id="billDateFrom" autocomplete="off"/>
															<div class="input-group-append input-group-addon"
																data-target="#datetimepicker1"
																data-toggle="datetimepicker">
																<div class="input-group-text">
																	<i class="fa fa-calendar"></i>
																</div>
															</div>
														</div>
														<label>-<span th:text="#{to}">To</span></label>
														<div class="input-group date" id="datetimepicker2"
															data-target-input="nearest">
															<input type="text" 
																class="form-control datetimepicker-input"
																data-target="#datetimepicker2" name="billDateTo"
																data-ng-model="billDateTo" placeholder="DD/MM/YYYY"
																id="billDateTo" autocomplete="off"/>
															<div class="input-group-append input-group-addon"
																data-target="#datetimepicker2"
																data-toggle="datetimepicker">
																<div class="input-group-text">
																	<i class="fa fa-calendar"></i>
																</div>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label><span th:text="#{status}">Status</span></label> <select
															class="form-control" data-ng-model="status" id="status">
															<option value="">Select</option>
															<option value="1">Saved As Draft</option>
															<option value="2">Submitted And Forwarded to EE</option>
															<option value="3">Fowarded For Inspection</option>
															<option value="4">Fowarded For Payment</option>
															<option value="5">Physical Inspection Completed </option>
															<option value="6">Contingency Completed</option>
															<option value="7">Payment Completed </option>
														</select>
													</div>
													<div class="form-group text-right">
														<button class="btn btn-sm btn-success" type="submit"
															id="applyFilters">
															<span th:text="#{applyFilters}">Apply Filters</span>
														</button>
														&nbsp;
														<button class="btn btn-sm btn-secondary" type="button"
															data-ng-click="designation = '';status='';">
															<span th:text="#{clear}">Clear </span>
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
							<div class="table-responsive">
								<table id="dynamic-table"
									class="table table-striped table-bordered table-hover table-outline">
									<thead class="thead-default">
										<tr>
											<th><span>#</span></th>
											<th width="5%"><span th:text="#{billNo}">Bill No.</span></th>
											<th width="10%"><span th:text="#{billDate}">Bill Date</span></th>
											<th width="10%"><span th:text="#{billType}">Bill Type</span></th>
											<th width="25%"><span th:text="#{workName}">Work Name</span></th>
											<th width="15%">  Work Requisition No </th>
											<th  width="10%"><span th:text="#{amount}">Amount</span></th>
											<th  width="10%"><span th:text="#{status}">Status</span></th>
											<th width="10%"><span th:text="#{action}">Action</span></th>
										</tr>
									</thead>
									
									<tfoot align="right">
									<tr>
										<th colspan="6" class="text-center"></th>
										<th colspan="3">454564</th>
										
									 
									</tr>
									</tfoot>
									
								</table>
								<div align="center">
								<a class="btn btn-secondary" href="#searchWorkForBill">
									<span th:text="#{addNewBill}">Add New Bill</span>
								</a>
								</div>
								
								
		 <div class="modal fade popup-lg" tabindex="-1" role="dialog"
			aria-labelledby="myLargeModalLabel" aria-hidden="true"
			id="remark-popup">
			<div class="modal-dialog modal-lg modal-map" style="max-width:50%;margin-top:15%;">
				<div class="modal-content">
					<div class="modal-header">
						<h6 class="modal-title">
							<span>Remark </span>
						</h6>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="col-md-12" style="margin-top:20px;">
						<form data-ng-submit="rejectBill1(rejectBillform.$valid)"
							name="rejectBillform" novalidate="novalidate">
							<input type="hidden" id="id" data-ng-model="billBean.id" name="id"/>
							<div class="row">							
								<div class="form-group col-sm-6">
									<label><span>Bill Reject Remark</span> <span class="aestrick">&#42;</span></label> 
									<input class="form-control" required="required" id="remark"
										data-ng-model="billBean.remark"
										name="remark" type="text" maxlength="90" />
									<div data-ng-show="rejectBillform.$submitted">
										<p class="help-block" style="color: red;"
											data-ng-show="rejectBillform.remark.$error.required">
											<span th:text="#{pleaseEnter}">Please enter</span> <span th:text="#{remarks}"> remark.</span>
										</p>
									</div>
								</div>		
								 	<div class="form-group col-sm-6"> </div>
								<div class="form-group col-sm-12">
									<div class="text-right">
										 
										<button type="submit" class="btn btn-sm btn-success">
											<span th:text="#{submit}">Submit</span>
										</button>												
									</div>	
								</div>
							</div>
						</form>
					</div>					
				</div>
			</div>
		</div>		
								
								
								
								
							</div>
						</div>
					</div>
				</div>
				<!--/.col-->
			</div>
			<!--/.row-->
		</div>

	</div>
	<!-- /.container-fluid -->
	
	
	<div class="modal fade popup-lg" tabindex="-1" role="dialog"
			aria-labelledby="myLargeModalLabel" aria-hidden="true"
			id="Ae-update-popup">
			<div class="modal-dialog modal-lg modal-map" style="max-width:50%;margin-top:15%;">
				<div class="modal-content">
					<div class="modal-header">
						<h6 class="modal-title">
							<span>Update Inspection User </span>
						</h6>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="col-md-12" style="margin-top:20px;" >
						<form data-ng-submit="updateAeName(updateAeform, updateAeform.$valid)"
							name="updateAeform" novalidate="novalidate">
							<input type="hidden" id="id" data-ng-model="billBean.inspectedById" name="id"/>
							<div class="row">							
								<div class="form-group col-sm-4">
										<label><span th:text="#{inspectedBy}">Inspected By
												 </span><span class="aestrick">&#42;</span></label>
												
										<select class="form-control" id="inspectedBy" data-ng-model="billBean.inspectedById"	name="inspectedBy" >
												<option disabled="disabled" >--Select--</option>
												<option data-ng-show="inspectionByListAE.length > 0"
													data-ng-repeat="engineer in inspectionByListAE | orderBy : 'name'"
													value="{{engineer.id}}">{{engineer.name}} - {{engineer.designationBean.designation}}</option>
											</select>			
									</div>
								 	<div class="form-group col-sm-6"> </div>
								<div class="form-group col-sm-12">
									<div class="text-right">
										 
										<button type="submit" class="btn btn-sm btn-success">
											<span th:text="#{submit}">Submit</span>
										</button>												
									</div>	
								</div>
							</div>
						</form>
					</div>					
				</div>
			</div>
		</div>
		
		
		<div class="modal fade popup-lg" tabindex="-1" role="dialog"
			aria-labelledby="myLargeModalLabel" aria-hidden="true"
			id="SeSdoEe-update-popup">
			<div class="modal-dialog modal-lg modal-map" style="max-width:50%;margin-top:15%;">
				<div class="modal-content">
					<div class="modal-header">
						<h6 class="modal-title">
							<span>Update inspection Users </span>
						</h6>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="col-md-12" style="margin-top:20px;" >
						<form data-ng-submit="updateSESDOEEName(updateAeEEform, updateAeEEform.$valid)"
							name="updateAeEEform" novalidate="novalidate">
							<input type="hidden" id="id" data-ng-model="billBean.inspectedById" name="id"/>
							<div class="row">							
								<!-- <div class="form-group col-sm-4">
										<label><span th:text="#{inspectedBy}">Inspected By
												 </span><span class="aestrick">&#42;</span></label>
												
										<select class="form-control" id="inspectedBy" data-ng-model="billBean.inspectedById"	name="inspectedBy" >
												<option disabled="disabled" >Select</option>
												<option data-ng-show="inspectionByListAE.length > 0"
													data-ng-repeat="engineer in inspectionByListAE | orderBy : 'name'"
													value="{{engineer.id}}">{{engineer.name}} - {{engineer.designationBean.designation}}</option>
											</select>			
									</div> -->
									
									<div class="form-group col-sm-4">
										<label><span th:text="#{inspectedBySE}">Inspected By Sub-Enggineer
												 </span><span class="aestrick">&#42;</span></label>
												
										<select class="form-control" id="inspectedByIdSE" data-ng-model="billBean.inspectedByIdSE"	name="inspectedByIdSE" >
												<option disabled="disabled" >--Select--</option>
												<option data-ng-show="inspectionByListSE.length > 0"
													data-ng-repeat="engineer in inspectionByListSE | orderBy : 'name'"
													value="{{engineer.id}}">{{engineer.name}} - {{engineer.designationBean.designation}}</option>
											</select>			
									</div>
									
									<div class="form-group col-sm-4">
										<label><span th:text="#{inspectedBySDO}">Inspected By SDO
												 </span><span class="aestrick">&#42;</span></label>
												
										<select class="form-control" id="inspectedByIdSDO" data-ng-model="billBean.inspectedByIdSDO"	name="inspectedByIdSDO" >
												<option disabled="disabled" value="" >--Select--</option>
												<option data-ng-show="inspectionByListSDO.length > 0"
													data-ng-repeat="engineer in inspectionByListSDO | orderBy : 'name'"
													value="{{engineer.id}}">{{engineer.name}} - {{engineer.designationBean.designation}}</option>
											</select>			
									</div>
									
									<div class="form-group col-sm-4">
										<label><span th:text="#{inspectedByEE}">Inspected By EE
												 </span><span class="aestrick">&#42;</span></label>
												
										<select class="form-control" id="inspectedByEE" data-ng-model="billBean.inspectedByIdEE"	name="inspectedByEE" >
												<option disabled="disabled" value="" >--Select--</option>
												<option data-ng-show="inspectionByListEE.length > 0"
													data-ng-repeat="engineer in inspectionByListEE | orderBy : 'name'"
													value="{{engineer.id}}">{{engineer.name}} - {{engineer.designationBean.designation}}</option>
											</select>			
									</div>
								 	<div class="form-group col-sm-6"> </div>
								<div class="form-group col-sm-12">
									<div class="text-right">
										 
										<button type="submit" class="btn btn-sm btn-success">
											<span th:text="#{submit}">Submit</span>
										</button>												
									</div>	
								</div>
							</div>
							
							
						</form>
					</div>					
				</div>
			</div>
		</div>
		
		<div class="modal fade popup-lg" tabindex="-1" role="dialog"
			aria-labelledby="myLargeModalLabel" aria-hidden="true"
			id="SeSdo-update-popup">
			<div class="modal-dialog modal-lg modal-map" style="max-width:50%;margin-top:15%;">
				<div class="modal-content">
					<div class="modal-header">
						<h6 class="modal-title">
							<span>Update inspection Users </span>
						</h6>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="col-md-12" style="margin-top:20px;" >
						<form data-ng-submit="updateSESDOName(updateSESDOform, updateSESDOform.$valid)"
							name="updateSESDOform" novalidate="novalidate">
							<input type="hidden" id="id" data-ng-model="billBean.inspectedById" name="id"/>
							<div class="row">							
								<div class="form-group col-sm-4">
										<label><span th:text="#{inspectedBySE}">Inspected By SE
												 </span><span class="aestrick">&#42;</span></label>
												
										<select class="form-control" id="inspectedByIdSE" data-ng-model="billBean.inspectedByIdSE"	name="inspectedByIdSE" >
												<option disabled="disabled" >--Select--</option>
												<option data-ng-show="inspectionByListSE.length > 0"
													data-ng-repeat="engineer in inspectionByListSE | orderBy : 'name'"
													value="{{engineer.id}}">{{engineer.name}} - {{engineer.designationBean.designation}}</option>
											</select>			
									</div>
									
									<div class="form-group col-sm-4">
										<label><span th:text="#{inspectedBySDO}">Inspected By SDO
												 </span><span class="aestrick">&#42;</span></label>
												
										<select class="form-control" id="inspectedByIdSDO" data-ng-model="billBean.inspectedByIdSDO"	name="inspectedByIdSDO" >
												<option disabled="disabled" value="" >--Select--</option>
												<option data-ng-show="inspectionByListSDO.length > 0"
													data-ng-repeat="engineer in inspectionByListSDO | orderBy : 'name'"
													value="{{engineer.id}}">{{engineer.name}} - {{engineer.designationBean.designation}}</option>
											</select>			
									</div>
								 	<div class="form-group col-sm-6"> </div>
								<div class="form-group col-sm-12">
									<div class="text-right">
										 
										<button type="submit" class="btn btn-sm btn-success">
											<span th:text="#{submit}">Submit</span>
										</button>												
									</div>	
								</div>
							</div>
							
							
						</form>
					</div>					
				</div>
			</div>
		</div>
		
		<div class="modal fade popup-lg" tabindex="-1" role="dialog"
			aria-labelledby="myLargeModalLabel" aria-hidden="true"
			id="billStatus-update-popup">
			<div class="modal-dialog modal-lg modal-map" style="max-width:50%;margin-top:15%;">
				<div class="modal-content">
					<div class="modal-header">
						<h6 class="modal-title">
							<span>Reject And Revise</span>
						</h6>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="col-md-12" style="margin-top:20px;" >
						<form data-ng-submit="updateBillStatusRemarks(rejectAndReviseform, rejectAndReviseform.$valid)"
							name="rejectAndReviseform" novalidate="novalidate">
							<!-- <input type="hidden" id="id" data-ng-model="billBean.inspectedById" name="id"/> -->
							<div class="row">							
								<div class="form-group col-sm-6" >
											<label><span>Revised Remarks</span><span class="aestrick">&#42;</span>
											</label> <input type="text"
												class="form-control" id="billRemark"
												data-ng-model="billBean.billRemark"
												name="billRemark" required="required"
												maxlength="200" />
											<div data-ng-show="rejectAndReviseform.$submitted">
												<p class="help-block" style="color: red;"
													data-ng-show="rejectAndReviseform.billRemark.$error.required">
													<span th:text="#{pleaseEnter}">Please enter</span> <span
														th:text="#{reviseRemark}">Revise Remark</span>
												</p>
											</div>
											
										</div>
										
										
									
									
								 	<div class="form-group col-sm-6"> </div>
								<div class="form-group col-sm-12">
									<div class="text-right">
										 
										<button type="submit" class="btn btn-sm btn-success">
											<span th:text="#{submit}">Submit</span>
										</button>												
									</div>	
								</div>
							</div>
							
							
						</form>
					</div>					
				</div>
			</div>
		</div>
		
		<div class="modal fade popup-lg" tabindex="-1" role="dialog"
			aria-labelledby="myLargeModalLabel" aria-hidden="true"
			id="billDelete-update-popup">
			<div class="modal-dialog modal-lg modal-map" style="max-width:50%;margin-top:15%;">
				<div class="modal-content">
					<div class="modal-header">
						<h6 class="modal-title">
							<span>Delete Bill</span>
						</h6>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="col-md-12" style="margin-top:20px;" >
						<form data-ng-submit="deleteBillRemarks(deleteBillform, deleteBillform.$valid)"
							name="deleteBillform" novalidate="novalidate">
							<!-- <input type="hidden" id="id" data-ng-model="billBean.inspectedById" name="id"/> -->
							<div class="row">							
								<div class="form-group col-sm-6" >
											<label><span>Delete Bill Remarks</span><span class="aestrick">&#42;</span>
											</label> <input type="text"
												class="form-control" id="billRemark"
												data-ng-model="billBean.billRemark"
												name="billRemark" required="required"
												maxlength="200" />
											<div data-ng-show="deleteBillform.$submitted">
												<p class="help-block" style="color: red;"
													data-ng-show="deleteBillform.billRemark.$error.required">
													<span th:text="#{pleaseEnter}">Please enter</span> <span
														th:text="#{deleteBillRemark}">Revise Remark</span>
												</p>
											</div>
											
										</div>
										
										
									
									
								 	<div class="form-group col-sm-6"> </div>
								<div class="form-group col-sm-12">
									<div class="text-right">
										 
										<button type="submit" class="btn btn-sm btn-success">
											<span th:text="#{submit}">Submit</span>
										</button>												
									</div>	
								</div>
							</div>
							
							
						</form>
					</div>					
				</div>
			</div>
		</div>
	
</div>
</html>
