<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" data-ng-app="res">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" th:href="@{/img/favicon.ico}"
	type="image/x-icon" />
<link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon" />

<div th:replace="fragments/header :: header-css" />
</head>
<!-- data-ng-controller="AdminController" id="Controller" -->
<!-- data-ng-controller="CommonController" id="CommonController" -->
<body
	class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
	<div dw-loading="sample-1" dw-loading-options="{text: 'Loading....'}"
		
		class="controller">
		<!-- <div id="wrapper"> -->
		<div th:replace="fragments/header :: header_after_login" />
		<div class="app-body">
			<div class="sidebar" id="sideNav">
				<nav class="sidebar-nav">
					<ul class="nav">
						<li class="nav-item"><a class="nav-link" href="#dashboard"><i
								class="icon-speedometer"></i><span th:text="#{dashboard}">Dashboard</span>
						</a></li>
						
							<li class="nav-item"><a class="nav-link" href="#workFile"><i
							class="fa fa-folder-open"></i><span th:text="#{Work_File}">Work File</span>
						</a></li>	
						<li class="nav-item"><a class="nav-link" href="#manageusers"><i
								class="fa fa-circle"></i><span th:text="#{manageUsers}">Manage
									Users</span></a></li>
									<!-- Rakesh -->
									<li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{manageSqmData}">Manage SQM Users</span></a>
								
								<ul class="nav-dropdown-items">
								<li class="nav-item"><a class="nav-link" href="#addSqmUserForm"><i
										class="icon-arrow-right-circle"></i><span th:text="#{addSqmUser}">Add SQM User</span></a></li>
																		
								<li class="nav-item"><a class="nav-link" href="#manageSqmUsers"><i
										class="icon-arrow-right-circle"></i><span th:text="#{sqmUserList}">SQM User List</span></a></li>
								
								<!-- <li class="nav-item"><a class="nav-link" href="#manageContractor"><i
										class="icon-arrow-right-circle"></i><span th:text="#{contractor}">Contractor</span></a></li>	
										
								<li class="nav-item"><a class="nav-link" href="#manageBank"><i
										class="icon-arrow-right-circle"></i><span th:text="#{bank}">Bank</span></a></li>	 -->			
										
						</ul></li>
									
									
									<li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{legacyDataManagement}">Legacy Data Management</span></a>
							<ul class="nav-dropdown-items">
								
								<li class="nav-item"><a class="nav-link" href="#manageLegacyDataRouteForAdmin"><i
										class="icon-arrow-right-circle"></i><span th:text="#{manageLegacyData}">Manage Legacy Data</span></a></li>
							</ul></li>
							
							<li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{workManagement}">Work Management</span></a>
							<ul class="nav-dropdown-items">
								
								<li class="nav-item"><a class="nav-link" href="#manageNewDataRouteForAdmin"><i
										class="icon-arrow-right-circle"></i><span th:text="#{manageWorkRequisition}">Manage Work Requisition</span></a></li>
										
											<li class="nav-item"><a class="nav-link" href="#manageLegacyDataRoute"><i
										class="icon-arrow-right-circle"></i><span th:text="#{viewAllWorks}">View Work Report</span></a></li>
								
							</ul></li>
									
					<li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{manageMasterData}">Manage Master Data</span></a>
								
								<ul class="nav-dropdown-items">
								<li class="nav-item"><a class="nav-link" href="#manageAccountHead"><i
										class="icon-arrow-right-circle"></i><span th:text="#{accountHead}">Account Head</span></a></li>
																		
								<li class="nav-item"><a class="nav-link" href="#manageLineDepartment"><i
										class="icon-arrow-right-circle"></i><span th:text="#{lineDepartment}">Line Department</span></a></li>
								
								<li class="nav-item"><a class="nav-link" href="#manageContractor"><i
										class="icon-arrow-right-circle"></i><span th:text="#{contractor}">Contractor</span></a></li>	
										
								<li class="nav-item"><a class="nav-link" href="#manageBank"><i
										class="icon-arrow-right-circle"></i><span th:text="#{bank}">Bank</span></a></li>				
										
						</ul></li>
									
						<li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{reports}">Reports</span></a>
								<ul class="nav-dropdown-items">
								<li class="nav-item"><a class="nav-link" href="#viewCEReportsRoute"><i
										class="icon-arrow-right-circle"></i><span th:text="#{viewChiefOfficesReport}">View Chief Offices Report</span></a></li>								
								<li class="nav-item"><a class="nav-link" href="#viewSupdteReportsRoute"><i
										class="icon-arrow-right-circle"></i><span th:text="#{viewSuperintendingOfficesReport}">View Superintending Offices Report</span></a></li>
								<li class="nav-item"><a class="nav-link" href="#viewEEReportsRoute"><i
										class="icon-arrow-right-circle"></i><span th:text="#{viewExecutiveOfficesReport}">View Executive Offices Report</span></a></li>
								<!-- <li class="nav-item"><a class="nav-link" href="#manageLegacyDataRoute"><i
										class="icon-arrow-right-circle"></i><span th:text="#{viewWorkReport}">View Work Report</span></a></li> -->
										
								  <li class="nav-item"><a class="nav-link" href="#viewStatusWiseWorkReport"><i
										class="icon-arrow-right-circle"></i><span>View Status Wise Work Count Report</span></a></li>
										
								<li class="nav-item"><a class="nav-link" href="#viewStatusWiseWorkReportWithSelection"><i
										class="icon-arrow-right-circle"></i><span>View Status Wise Work Count Report With Selection</span></a></li>
										
								<li class="nav-item"><a class="nav-link" href="#viewPendingForInspectionReport"><i
										class="icon-arrow-right-circle"></i><span>View Pending For Inspection Report</span></a></li>
										
										<li class="nav-item"><a class="nav-link" href="#viewFinalBillPendingReport"><i
										class="icon-arrow-right-circle"></i><span>View Final Bill Pending Report</span></a></li>
										
								<li class="nav-item"><a class="nav-link" href="#viewPhysicalCCDispatchReport"><i
										class="icon-arrow-right-circle"></i><span>View Physical CC Dispatch Report</span></a></li>
										
								  <li class="nav-item"><a class="nav-link" href="#viewFYWiseExpenditureReport"><i
										class="icon-arrow-right-circle"></i><span>View Expenditure Report</span></a></li> 
										
								<!-- <li class="nav-item"><a class="nav-link" href="#viewExAgWiseExpenditureReport"><i
										class="icon-arrow-right-circle"></i><span>View Execution Agency Expenditure Report</span></a></li> -->
										
								<li class="nav-item"><a class="nav-link" href="#viewExeAgWiseExpenditureReport"><i
										class="icon-arrow-right-circle"></i><span>View Execution Agency Expenditure Report</span></a></li>
										
								<li class="nav-item"><a class="nav-link" href="#viewExeAgWiseExpenditureReportPayment"><i
										class="icon-arrow-right-circle"></i><span>View Execution Agency Expenditure Report For Payment</span></a></li>
										
								<li class="nav-item"><a class="nav-link" href="#viewExeAgWiseExpenditureReportContg"><i
										class="icon-arrow-right-circle"></i><span>View Execution Agency Expenditure Report For Contingency</span></a></li>				
										
										<li class="nav-item"><a class="nav-link" href="#viewPaymentWiseExpenditureReport"><i
										class="icon-arrow-right-circle"></i><span>View Completed And Pending Payment Wise Report</span></a></li>
										
										 <!--  <li class="nav-item"><a class="nav-link" href="#viewEstimationStatusWiseWorkReport"><i
										class="icon-arrow-right-circle"></i><span>View Executive Office Estimation Wise report</span></a></li>-->
							</ul></li>
							
							<li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{Inspection}">Inspection</span></a>
							<ul class="nav-dropdown-items">
								
								<li class="nav-item"><a class="nav-link" href="#manageSqmInspection"><i
										class="icon-arrow-right-circle"></i><span th:text="#{sqmInspection}">Sqm Inspection</span></a></li>	
										
										
										 <li class="nav-item"><a class="nav-link" href="#manageRandomInspection"><i
										class="icon-arrow-right-circle"></i><span th:text="#{randomInspection}">Random Inspection</span></a></li> 										
							</ul></li>
							
							
							
							<li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{sor}">SoR</span></a>
							<ul class="nav-dropdown-items">
								
								<li class="nav-item"><a class="nav-link" href="#manageSORs"><i
										class="icon-arrow-right-circle"></i><span th:text="#{sorConfiguration}"></span></a></li>
							</ul></li>
							
							<li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{manageRandomInspection}">Manage Random Inspection</span></a>
								
								<ul class="nav-dropdown-items">
								<li class="nav-item"><a class="nav-link" href="#addOffInspForm"><i
										class="icon-arrow-right-circle"></i><span th:text="#{assignInspection}">Add Random Inspection</span></a></li>
										
										<li class="nav-item"><a class="nav-link" href="#manageInspUsers"><i
										class="icon-arrow-right-circle"></i><span th:text="#{inspectionUserList}">Insp User List</span></a></li>
																		
						<!-- 		<li class="nav-item"><a class="nav-link" href="#manageSqmUsers"><i
										class="icon-arrow-right-circle"></i><span th:text="#{sqmUserList}">SQM User List</span></a></li> -->
								
								<!-- <li class="nav-item"><a class="nav-link" href="#manageContractor"><i
										class="icon-arrow-right-circle"></i><span th:text="#{contractor}">Contractor</span></a></li>	
										
								<li class="nav-item"><a class="nav-link" href="#manageBank"><i
										class="icon-arrow-right-circle"></i><span th:text="#{bank}">Bank</span></a></li>	 -->			
										
						</ul></li>
							
							
						<!-- <li class="nav-item"><a class="nav-link" href="#managerates"><i
								class="fa fa-circle"></i><span th:text="#{manageRates}">Manage
									Rates</span></a></li>
						<li class="nav-item"><a class="nav-link"
							href="#manageentrepreneur"><i class="fa fa-building"></i><span
								th:text="#{manageEntrepreneur}">Manage Entrepreneur</span></a></li>
						<li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{contributionMgmt}">Contribution
									Management</span></a>
							<ul class="nav-dropdown-items">
								<li class="nav-item"><a class="nav-link" href="#manageinward"><i
										class="icon-arrow-right-circle"></i><span th:text="#{manageInward}">Manage Inward</span></a></li>
								<li class="nav-item"><a class="nav-link" href="#entrepreneurfile"><i
										class="icon-arrow-right-circle"></i><span th:text="#{entrepreneurFile}">Entrepreneur File</span></a></li>
							</ul></li>
							<li class="nav-item"><a class="nav-link"
							href="#fileAndDataBuilding"><i class="fa fa-file"></i><span
								th:text="#{fileAndDataBuilding}">File And Data Building</span></a></li> -->
					</ul>
				</nav>
			</div>
			<!-- Main content -->
			<main class="main"> <!-- <div class="formstyle1"> -->
			<div data-ng-view=""></div>
			<!-- </div> --> </main>
		</div>
		<!-- </div> -->

		<footer class="app-footer">
			<span>Rural Engineering Service &copy; 2020. All rights
				reserved.</span> <span class="ml-auto">Designed &amp; Developed by <a
				target="_blank" href="http://www.mapit.gov.in/coedetails.aspx">Center
					of Excellence (CoE)</a>, <a target="_blank"
				href="http://www.mapit.gov.in">MAP_IT</a>.
			</span>
		</footer>

		<div th:replace="fragments/footer :: footer" />
		<script th:src="@{/angular/admin/AdminRouting.js}"></script>
		<script th:src="@{/angular/admin/AdminController.js}"></script>
		<script th:src="@{/angular/common/CommonRouting.js}"></script>
		<script th:src="@{/angular/common/CommonController.js}"></script>
		<!-- Rakesh -->
		
	<!-- 	<script th:src="@{/angular/admin/multiselect.js}"></script> -->
	</div>
</body>

</html>
