<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" data-ng-app="res">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" th:href="@{/img/favicon.ico}"
	type="image/x-icon" />
<link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon" />

<div th:replace="fragments/header :: header-css" />
</head>
<!-- data-ng-controller="AdminController" id="Controller" -->
<!-- data-ng-controller="CommonController" id="CommonController" -->
<body
	class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
	<div dw-loading="sample-1" dw-loading-options="{text: 'Loading....'}"
		
		class="controller">
		<!-- <div id="wrapper"> -->
		<div th:replace="fragments/header :: header_after_login" />
		<div class="app-body">
			<div class="sidebar" id="sideNav">
				<nav class="sidebar-nav">
					<ul class="nav">
						 <li class="nav-item"><a class="nav-link" href="#dashboard"><i
								class="icon-speedometer"></i><span th:text="#{dashboard}">Dashboard</span>
						</a></li>
						<li th:if="${isOIC=='Yes'}" class="nav-item"><a class="nav-link" href="#manageusers"><i
								class="fa fa-circle"></i><span th:text="#{manageUsers}">Manage
									Users</span></a></li>
									
						<li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{Budget_Management}">Budget Management</span></a>
							<ul class="nav-dropdown-items">
								<li class="nav-item"><a class="nav-link" href="#budgetRequestApprovalList">
								<i class="icon-arrow-right-circle"></i><span th:text="#{Budget_Request_Approval}">Budget Request Approval</span></a></li>
							</ul>
							
							<!-- <ul class="nav-dropdown-items">
								<li class="nav-item"><a class="nav-link" href="#budgetRequestAllotmentList">
								<i class="icon-arrow-right-circle"></i><span th:text="#{Budget_Allotment}">Budget Allotment</span></a></li>
							</ul> -->
							
							<ul class="nav-dropdown-items">
								<li class="nav-item"><a class="nav-link" href="#budgetRequestAllotmentListAccHeadWise">
								<i class="icon-arrow-right-circle"></i><span th:text="#{Budget_Allotment_accountHeadWise}">Budget Allotment Account Head Wise</span></a></li>
							</ul>
							

							</li>
							
							<!-- <li class="nav-item"><a class="nav-link" href="#manageLegacyDataRoute"><i
										class="fa fa-circle"></i><span th:text="#{unlockWorkForEditing}">Unlock Work For Editing</span></a></li>
						<li class="nav-item"><a class="nav-link" href="#manageWorkRequisitionDataRoute"><i
										class="fa fa-circle"></i><span th:text="#{unlockWorkForRequisition}">Unlock Work For Requisition</span></a></li> -->
						
						<!-- <li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{reports}">Reports</span></a>
								<ul class="nav-dropdown-items">
										
								<li class="nav-item"><a class="nav-link" href="#viewStatusWiseWorkReport"><i
										class="icon-arrow-right-circle"></i><span>View Status Wise Work Count Report</span></a></li>
									
								<li class="nav-item"><a class="nav-link" href="#viewFYWiseExpenditureReport"><i
										class="icon-arrow-right-circle"></i><span>View Expenditure Report</span></a></li>		
								
							</ul></li> -->
							
							<li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{legacyDataManagement}">Legacy Data Management</span></a>
							<ul class="nav-dropdown-items">
								
								<li class="nav-item"><a class="nav-link" href="#viewCEWorksForLegacy"><i
										class="icon-arrow-right-circle"></i><span th:text="#{manageLegacyData}">Manage Legacy Data</span></a></li>
							</ul></li>
							
							<li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{workManagement}">Work Management</span></a>
							<ul class="nav-dropdown-items">
								
								<li class="nav-item"><a class="nav-link" href="#manageNewDataRouteForAdmin"><i
										class="icon-arrow-right-circle"></i><span th:text="#{manageWorkRequisition}">Manage Work Requisition</span></a></li>
										
											<li class="nav-item"><a class="nav-link" href="#manageLegacyDataRouteForENC"><i
										class="icon-arrow-right-circle"></i><span th:text="#{viewAllWorks}">View Work Report</span></a></li>
										
										<li class="nav-item"><a class="nav-link" href="#finalExpAmountHistory"><i
										class="icon-arrow-right-circle"></i><span>Final Expendture Amount History</span></a></li>
										
											<li class="nav-item"><a class="nav-link" href="#changesHistory"><i
										class="icon-arrow-right-circle"></i><span>Change History Report</span></a></li>
								
							</ul></li>
							
							<li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{tender}">Tender</span></a>
							<ul class="nav-dropdown-items">
								<li class="nav-item"><a class="nav-link" href="#manageTenderDataRouteForEnc"><i
										class="icon-arrow-right-circle"></i><span th:text="#{addTender}">Add Tender</span></a></li>
								<!-- <li class="nav-item"><a class="nav-link" href="#workAgreementList"><i
										class="icon-arrow-right-circle"></i><span th:text="#{Work_Agreement_List}">Work Agreement List</span></a></li> -->
							</ul></li>
							
							
							<li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{reports}">Reports</span></a>
								<ul class="nav-dropdown-items">
								<li class="nav-item"><a class="nav-link" href="#viewCEReportsRoute"><i
										class="icon-arrow-right-circle"></i><span th:text="#{viewChiefOfficesReport}">View Chief Offices Report</span></a></li>								
								<li class="nav-item"><a class="nav-link" href="#viewSupdteReportsRoute"><i
										class="icon-arrow-right-circle"></i><span th:text="#{viewSuperintendingOfficesReport}">View Superintending Offices Report</span></a></li>
								<li class="nav-item"><a class="nav-link" href="#viewEEReportsRoute"><i
										class="icon-arrow-right-circle"></i><span th:text="#{viewExecutiveOfficesReport}">View Executive Offices Report</span></a></li>
								<li class="nav-item"><a class="nav-link" href="#manageLegacyDataRoute"><i
										class="icon-arrow-right-circle"></i><span th:text="#{viewWorkReport}">View Work Report</span></a></li>
										
								  <li class="nav-item"><a class="nav-link" href="#viewStatusWiseWorkReport"><i
										class="icon-arrow-right-circle"></i><span>View Status Wise Work Count Report</span></a></li>
										
								<li class="nav-item"><a class="nav-link" href="#viewStatusWiseWorkReportWithSelection"><i
										class="icon-arrow-right-circle"></i><span>View Status Wise Work Count Report With Selection</span></a></li>
										
								<li class="nav-item"><a class="nav-link" href="#viewPendingForInspectionReport"><i
										class="icon-arrow-right-circle"></i><span>View Pending For Inspection Report</span></a></li>
										
								<li class="nav-item"><a class="nav-link" href="#viewPhysicalCCDispatchReport"><i
										class="icon-arrow-right-circle"></i><span>View Physical CC Dispatch Report</span></a></li>
										
								  <li class="nav-item"><a class="nav-link" href="#viewFYWiseExpenditureReport"><i
										class="icon-arrow-right-circle"></i><span>View Expenditure Report</span></a></li> 
										
								<li class="nav-item"><a class="nav-link" href="#viewExeAgWiseExpenditureReport"><i
										class="icon-arrow-right-circle"></i><span>View Execution Agency Expenditure Report</span></a></li>
										
								<li class="nav-item"><a class="nav-link" href="#viewExeAgWiseExpenditureReportPayment"><i
										class="icon-arrow-right-circle"></i><span>View Execution Agency Expenditure Report For Payment</span></a></li>
										
								<li class="nav-item"><a class="nav-link" href="#viewExeAgWiseExpenditureReportContg"><i
										class="icon-arrow-right-circle"></i><span>View Execution Agency Expenditure Report For Contingency</span></a></li>
										
								<li class="nav-item"><a class="nav-link" href="#viewPaymentWiseExpenditureReport"><i
										class="icon-arrow-right-circle"></i><span>View Payment Wise Expenditure Report</span></a></li>
							</ul></li>
							
							<li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{Inspection}">Inspection</span></a>
							<ul class="nav-dropdown-items">
								
								<li class="nav-item"><a class="nav-link" href="#manageSqmInspection"><i
										class="icon-arrow-right-circle"></i><span th:text="#{sqmInspection}">Sqm Inspection</span></a></li>	
									 <li class="nav-item"><a class="nav-link" href="#manageRandomInspection"><i
										class="icon-arrow-right-circle"></i><span th:text="#{randomInspection}">Random Inspection</span></a></li> 								
							</ul></li>
							
							
							
									
						<!--<li class="nav-item"><a class="nav-link" href="#managerates"><i
								class="fa fa-circle"></i><span th:text="#{manageRates}">Manage
									Rates</span></a></li>
						<li class="nav-item"><a class="nav-link"
							href="#manageentrepreneur"><i class="fa fa-building"></i><span
								th:text="#{manageEntrepreneur}">Manage Entrepreneur</span></a></li>
						<li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{contributionMgmt}">Contribution
									Management</span></a>
							<ul class="nav-dropdown-items">
								<li class="nav-item"><a class="nav-link" href="#manageinward"><i
										class="icon-arrow-right-circle"></i><span th:text="#{manageInward}">Manage Inward</span></a></li>
								<li class="nav-item"><a class="nav-link" href="#entrepreneurfile"><i
										class="icon-arrow-right-circle"></i><span th:text="#{entrepreneurFile}">Entrepreneur File</span></a></li>
							</ul></li>
							<li class="nav-item"><a class="nav-link"
							href="#fileAndDataBuilding"><i class="fa fa-file"></i><span
								th:text="#{fileAndDataBuilding}">File And Data Building</span></a></li> -->
							<!-- <li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{legacyDataManagement}">Legacy Data Management</span></a>
							<ul class="nav-dropdown-items">
								<li class="nav-item"><a class="nav-link" href="#addLegacyDataRoute"><i
										class="icon-arrow-right-circle"></i><span th:text="#{addLegacyData}">Add Legacy Data</span></a></li>
								<li class="nav-item"><a class="nav-link" href="#manageLegacyDataRoute"><i
										class="icon-arrow-right-circle"></i><span th:text="#{manageLegacyData}">Manage Legacy Data</span></a></li>
							</ul></li>
							<li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{billing}">Billing</span></a>
							<ul class="nav-dropdown-items">
								<li class="nav-item"><a class="nav-link" href="#viewBills"><i
										class="icon-arrow-right-circle"></i><span th:text="#{viewBills}">View Bills</span></a></li>
								<li class="nav-item"><a class="nav-link" href="#manageLegacyDataRoute"><i
										class="icon-arrow-right-circle"></i><span th:text="#{manageLegacyData}">Manage Legacy Data</span></a></li>
							</ul></li>-->
							<!-- <li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{reports}">Reports</span></a>
							<ul class="nav-dropdown-items">
								<li class="nav-item"><a class="nav-link" href="#viewCEReportsRoute"><i
										class="icon-arrow-right-circle"></i><span th:text="#{viewChiefOfficesReport}">View Chief Offices Report</span></a></li>
								
							</ul></li>  -->
							
						<!-- <li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="icon-star"></i> Tables</a>
							<ul class="nav-dropdown-items">
								<li class="nav-item"><a class="nav-link" href="#"><i
										class="icon-arrow-right-circle"></i> Option</a></li>
								<li class="nav-item"><a class="nav-link" href="#"><i
										class="icon-arrow-right-circle"></i> Option</a></li>
							</ul></li>
						<li class="nav-item"><a class="nav-link" href="#"><i
								class="icon-pie-chart"></i> Charts</a></li>
						<li class="nav-item"><a class="nav-link" href="#"><i
								class="icon-list"></i> Reports</a></li> -->
					</ul>
				</nav>
			</div>
			<!-- Main content -->
			<main class="main"> <!-- <div class="formstyle1"> -->
			<div data-ng-view=""></div>
			
			<!-- </div> --> </main>
		
		
		</div>
		<!-- </div> -->
		
		<footer class="app-footer">
			<span>Rural Engineering Service &copy; 2020. All rights
				reserved.</span> <span class="ml-auto">Designed &amp; Developed by <a
				target="_blank" href="http://www.mapit.gov.in/coedetails.aspx">Center
					of Excellence (CoE)</a>, <a target="_blank"
				href="http://www.mapit.gov.in">MAP_IT</a>.
			</span>
		</footer>

		<div th:replace="fragments/footer :: footer" />
		<script th:src="@{/angular/enc/ENCRouting.js}"></script>
		<script th:src="@{/angular/enc/ENCController.js}"></script>
		<script th:src="@{/angular/ce/CEController.js}"></script>
		<script th:src="@{/angular/common/CommonRouting.js}"></script>
		<script th:src="@{/angular/common/CommonController.js}"></script>
	</div>
</body>

</html>
