<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" data-ng-app="res">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" th:href="@{/img/favicon.ico}"
	type="image/x-icon" />
<link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon" />

<div th:replace="fragments/header :: header-css" />
</head>
<!-- data-ng-controller="AdminController" id="Controller" -->
<!-- data-ng-controller="CommonController" id="CommonController" -->
<body
	class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
	<div dw-loading="sample-1" dw-loading-options="{text: 'Loading....'}"
		
		class="controller">
		<!-- <div id="wrapper"> -->
		<div th:replace="fragments/header :: header_after_login" />
		<div class="app-body">
			<div class="sidebar" id="sideNav">
				<nav class="sidebar-nav">
					<ul class="nav">
						 <li class="nav-item"><a class="nav-link" href="#dashboard"><i
								class="icon-speedometer"></i><span th:text="#{dashboard}">Dashboard</span>
						</a></li>
						<!-- <li th:if="${isOIC=='Yes'}" class="nav-item"><a class="nav-link" href="#manageusers"><i
								class="fa fa-circle"></i><span th:text="#{manageUsers}">Manage
									Users</span></a></li> -->
							<li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{legacyDataManagement}">Legacy Data Management</span></a>
							<ul class="nav-dropdown-items">
								<!-- <li class="nav-item"><a class="nav-link" href="#addLegacyDataRoute"><i
										class="icon-arrow-right-circle"></i><span th:text="#{addLegacyData}">Add Legacy Data</span></a></li> -->
								<li class="nav-item"><a class="nav-link" href="#manageLegacyDataRoute"><i
										class="icon-arrow-right-circle"></i><span th:text="#{manageLegacyData}">Manage Legacy Data</span></a></li>
							</ul></li>
							
							<li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{workManagement}">Work Management</span></a>
							<ul class="nav-dropdown-items">
								<!-- <li class="nav-item"><a class="nav-link" href="#addWorkRequisitionDataRoute"><i
										class="icon-arrow-right-circle"></i><span th:text="#{workRequisition}">Work Requisition</span></a></li> -->
								<!-- <li class="nav-item"><a class="nav-link" href="#manageWorkRequisitionDataRoute"><i
										class="icon-arrow-right-circle"></i><span th:text="#{manageWorkRequisition}">Manage Work Requisition</span></a></li> -->
								<li class="nav-item"><a class="nav-link" href="#viewPendingWorkEstimations"><i
										class="icon-arrow-right-circle"></i><span th:text="#{workEstimation}">Work Estimation</span></a></li>
								<li class="nav-item"><a class="nav-link" href="#viewAllWorksForSubE"><i
										class="icon-arrow-right-circle"></i><span th:text="#{viewAllWorks}">View All Works</span></a></li>
							</ul></li>
							
							
							<!-- <li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{sanctions}">Sanctions</span></a>
							<ul class="nav-dropdown-items">
								<li class="nav-item"><a class="nav-link" href="#manageTechnicalSanctionDataRoute"><i
										class="icon-arrow-right-circle"></i><span th:text="#{technicalSanction}">Technical Sanction</span></a></li>
								<li class="nav-item"><a class="nav-link" href="#manageAdministrationSanctionDataRoute"><i
										class="icon-arrow-right-circle"></i><span th:text="#{administrativeSanction}">Administrative Sanction</span></a></li>
							</ul></li> -->
							
							<!-- <li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{workManagement}">Work Management</span></a>
							<ul class="nav-dropdown-items">
								<li class="nav-item"><a class="nav-link" href="#addWorkRequisitionDataRoute"><i
										class="icon-arrow-right-circle"></i><span th:text="#{workRequisition}">Work Requisition</span></a></li>
								<li class="nav-item"><a class="nav-link" href="#manageWorkRequisitionDataRoute"><i
										class="icon-arrow-right-circle"></i><span th:text="#{manageWorkRequisition}">Manage Work Requisition</span></a></li>
								<li class="nav-item"><a class="nav-link" href="#viewPendingWorkEstimations"><i
										class="icon-arrow-right-circle"></i><span th:text="#{workEstimation}">Work Estimation</span></a></li>
							</ul></li>
							
							<li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{sanctions}">Sanctions</span></a>
							<ul class="nav-dropdown-items">
								<li class="nav-item"><a class="nav-link" href="#manageTechnicalSanctionDataRoute"><i
										class="icon-arrow-right-circle"></i><span th:text="#{technicalSanction}">Technical Sanction</span></a></li>
								<li class="nav-item"><a class="nav-link" href="#manageAdministrationSanctionDataRoute"><i
										class="icon-arrow-right-circle"></i><span th:text="#{administrativeSanction}">Administrative Sanction</span></a></li>
							</ul></li>
							
							-->
							
							<li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{billing}">Billing</span></a>
							<ul class="nav-dropdown-items">
								<li class="nav-item"><a class="nav-link" href="#searchWorkForBill"><i
										class="icon-arrow-right-circle"></i><span th:text="#{addNewBill}">Add New Bill</span></a></li>
								<li class="nav-item"><a class="nav-link" href="#viewBills"><i
										class="icon-arrow-right-circle"></i><span th:text="#{viewBills}">View Bills</span></a></li>
							</ul></li> 
							
							
							
							 <li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{Inspection}">Inspection</span></a>
							<ul class="nav-dropdown-items">
								<li class="nav-item"><a class="nav-link" href="#inspectionList"><i
										class="icon-arrow-right-circle"></i><span th:text="#{Inspection_List}">Bill Inspection List</span></a></li>
							</ul></li>
							
							
							
							<!--
								
							<li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="fa fa-folder-open"></i><span th:text="#{reports}">Reports</span></a>
							<ul class="nav-dropdown-items">
								<li class="nav-item"><a class="nav-link" href="#viewEEReportsRoute"><i
										class="icon-arrow-right-circle"></i><span th:text="#{viewExecutiveOfficesReport}">View Executive Offices Report</span></a></li>
								<li class="nav-item"><a class="nav-link" href="#manageLegacyDataRoute"><i
										class="icon-arrow-right-circle"></i><span th:text="#{manageLegacyData}">Manage Legacy Data</span></a></li>
							</ul></li>  
							
					 <li class="nav-item nav-dropdown"><a
							class="nav-link nav-dropdown-toggle" href="#"><i
								class="icon-star"></i> Tables</a>
							<ul class="nav-dropdown-items">
								<li class="nav-item"><a class="nav-link" href="#"><i
										class="icon-arrow-right-circle"></i> Option</a></li>
								<li class="nav-item"><a class="nav-link" href="#"><i
										class="icon-arrow-right-circle"></i> Option</a></li>
							</ul></li>
						<li class="nav-item"><a class="nav-link" href="#"><i
								class="icon-pie-chart"></i> Charts</a></li>
						<li class="nav-item"><a class="nav-link" href="#"><i
								class="icon-list"></i> Reports</a></li> -->
					</ul>
				</nav>
			</div>
			<!-- Main content -->
			<main class="main"> <!-- <div class="formstyle1"> -->
			<div data-ng-view=""></div>
			
			<!-- </div> --> </main>
		
		
		</div>
		<!-- </div> -->
		
		<footer class="app-footer">
			<span>Rural Engineering Service &copy; 2020. All rights
				reserved.</span> <span class="ml-auto">Designed &amp; Developed by <a
				target="_blank" href="http://www.mapit.gov.in/coedetails.aspx">Center
					of Excellence (CoE)</a>, <a target="_blank"
				href="http://www.mapit.gov.in">MAP_IT</a>.
			</span>
		</footer>

		<div th:replace="fragments/footer :: footer" />
		<script th:src="@{/angular/sdo/SDORouting.js}"></script>
		<script th:src="@{/angular/sdo/SDOController.js}"></script>
		<script th:src="@{/angular/common/CommonRouting.js}"></script>
		<script th:src="@{/angular/common/CommonController.js}"></script>
	</div>
</body>
</html>
