<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<script th:src="@{/js/language.js}"></script>

<script th:src="@{/js/datepicker/jquery.ui.datepicker.js}"></script>
<script th:src="@{/js/datepicker/jquery-ui.min.js}"></script>

<link th:href="@{/css/datepicker/jquery.ui.datepicker.css}"
	rel="stylesheet" />
<link th:href="@{/css/datepicker/jquery-ui.min.css}" rel="stylesheet" />
</head>


<script type="text/javascript">
$(document).ready(function() {
	$(".datepicker" ).datepicker({ dateFormat: 'dd/mm/yy', changeMonth: true, changeYear: true, yearRange: "-100:+50"});
	$(".datepicker").keypress(function(event) {event.preventDefault();});
});
</script>

<div>
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#dashboard"><span
				th:text="#{home}">Home</span></a></li>
		<li class="breadcrumb-item"><a href="#addTender"><span
				th:text="#{newTenderEntry}">newTenderEntry</span></a></li>

		<!-- Breadcrumb Menu-->
		<li class="breadcrumb-menu d-md-down-none">
			<div class="btn-group" role="group" aria-label="Button group">
				<a class="btn" href="#" data-ng-click="doTheBack()"><i
					class="icon-arrow-left-circle"></i> &nbsp;<span th:text="#{back}">Back</span></a>
			</div>
		</li>
	</ol>

	<div class="container-fluid">
		<div class="animated fadeIn">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header top-header">
							<i class="fa fa-wpforms"></i> <span th:text="#{newTenderEntry}">newTenderEntry</span>
						</div>
						<div class="col-md-12">
							<div data-ng-if="responseObject.errorMessage != null"
								class="text-danger">
								<strong>Error!</strong>
								<p>{{responseObject.errorMessage}}</p>
							</div>
						</div>
						
						<div class="col-md-12">
							<div data-ng-if="errorMessage1 != null"	class="text-danger">
								<strong>Error!</strong>
								<p>{{errorMessage1}}</p>
							</div>
						</div>

						<form
							data-ng-submit="addTender(workFormName, workFormName.$valid)"
							name="workFormName" id="workForkName" novalidate="novalidate"
							data-ng-init="loadWorkDetail();">

							<div class="card-header">
								<span th:text="#{workDetails}">Work Details</span>
							</div>
							<div class="card-body">
								<table style="width: 100%;">
									<tr>
										<td width="33.33%"><span style="font-weight: 700;">Work
												Name: </span>{{workData.workName}}</td>
										<td width="33.33%"><span style="font-weight: 700;">Work
												Type: </span>{{workData.workTypeBean.workTypeNameE}}</td>
										<td width="33.33%"><span style="font-weight: 700;">Work 
												Sub Type: </span>{{workData.workSubTypeBean.workSubTypeNameE ?
											workData.workSubTypeBean.workSubTypeNameE : '-'}}</td>			
									</tr>
									<tr>
										<td width="33.33%"><span style="font-weight: 700;">Executed
												By: </span>{{workData.agencyTypeBean.agencyTypeNameE ?
											workData.agencyTypeBean.agencyTypeNameE : '-'}}</td>
										<td width="33.33%"><span style="font-weight: 700;">District
												Name: </span>{{workData.districtName ? workData.districtName :
											'-'}}</td>
											<td width="33.33%"><span style="font-weight: 700;">Block
												Name: </span>{{workData.blockName}}</td>
									</tr>
									<tr>
										<td width="33.33%"><span style="font-weight: 700;">Gram
												Panchayat Name By: </span>{{workData.gramPanchayatName ?
											workData.gramPanchayatName : '-'}}</td>
										<td width="33.33%"><span style="font-weight: 700;">Village
												Name: </span>{{workData.villageBean.villageName ?
											workData.villageBean.villageName : '-'}}</td>
										<td width="33.33%"><span style="font-weight: 700;">Issued
												By: </span>{{workData.tsIssuingAuthorityName ?
											workData.tsIssuingAuthorityName : '-'}} [{{workData.districtName ? workData.districtName :
											'-'}}]</td>
											
									</tr>
									<tr>
										<td width="33.33%"><span style="font-weight: 700;">Technical
												Sanction: Rs. </span>{{workData.technicalSanctionAmount ?
											workData.technicalSanctionAmount : '-' | indianCurrency}}</td>
										<td width="33.33%"><span style="font-weight: 700;">{{workData.technicalSanctionType}}/Generated On:
												</span>{{workData.technicalSanctionDate ?
											workData.technicalSanctionDate : '-'}}</td>
											
									</tr>
									<tr>
										<td width="33.33%"><span style="font-weight: 700;">Administrative
												Sanction:Rs. </span>{{workData.administrationSanctionAmount ?
											workData.administrationSanctionAmount : '-' | indianCurrency}}</td>
										<td width="33.33%"><span style="font-weight: 700;">{{workData.administrationSanctionType}}/Generated On:
												</span>{{workData.administrationSanctionAmount ?
											workData.administrationSanctionDate : '-'}}</td>
											
									</tr>
									
									
									
									

								</table>

							</div>

							<div class="card-header">
								<span>Tender Details</span>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="form-group col-sm-3">
										<label><span th:text="#{tenderNumber}">Tender
												Number</span> <span class="aestrick">&#42;</span></label> <input type="text"
											class="form-control" id="tenderNumber" required="required"
											data-ng-model="workTenderBean.tenderNumber"
											name="tenderNumber" />
										<div data-ng-show="workFormName.$submitted">
											<p class="help-block" style="color: red;"
												data-ng-show="workFormName.tenderNumber.$error.required">
												<span th:text="#{pleaseEnter}">Please enter</span> <span
													th:text="#{tenderNumber}">Administrative Sanction No</span>
											</p>
										</div>
									</div>

									<!-- data-ng-change="compareDates(workData.administrationSanctionBean.administrationSanctionDate,workData.technicalSanctionBean.technicalSanctionDate);" -->

									<div class="form-group col-sm-3">
										<label><span th:text="#{tenderOpeningDate}">tender
												Opening Date</span> <span class="aestrick">&#42;</span></label> <input
											type="text" class="form-control datepicker"
											id="tenderOpeningDate" required="required"
											placeholder="DD/MM/YYYY"
											data-ng-model="workTenderBean.tenderOpeningDate"
											name="tenderOpeningDate" maxlength="10" autocomplete="off" />
										<div data-ng-show="workFormName.$submitted">
											<p class="help-block" style="color: red;"
												data-ng-show="workFormName.tenderOpeningDate.$error.required">
												<span th:text="#{pleaseSelect}">Please enter</span> <span
													th:text="#{tenderOpeningDate}">cashbook date</span>
											</p>
										</div>
									</div>

									<div class="form-group col-sm-3">
										<label><span th:text="#{probableAmountOfContract}">
												probableAmountOfContract</span> <span class="aestrick">&#42;</span></label>
										<!-- <input type="text" class="form-control digits-only"
											id="amountOfContract" required="required"
											data-ng-model="workTenderBean.amountOfContract"
											name="amountOfContract"	data-ng-change="calculateTenderCost(workTenderBean.amountOfContract, workTenderBean.tenderedRate, workTenderBean.tenderedRateSign, workData.administrationSanctionAmount);calculatePAC(workTenderBean.amountOfContract,workData.administrationSanctionAmount)"										
											maxlength="9" autocomplete="off" /> -->
											<input type="text" class="form-control digits-only"
											id="amountOfContract" required="required"
											data-ng-model="workTenderBean.amountOfContract"
											name="amountOfContract"	data-ng-change="calculateTenderCost(workTenderBean.amountOfContract, workTenderBean.tenderedRate, workTenderBean.tenderedRateSign, workData.administrationSanctionAmount)"										
											maxlength="9" autocomplete="off" />
										<div data-ng-show="workFormName.$submitted">
											<p class="help-block" style="color: red;"
												data-ng-show="workFormName.amountOfContract.$error.required">
												<span th:text="#{pleaseEnter}">Please enter</span> <span
													th:text="#{probableAmountOfContract}">Approved Cost
													AS Per Administrative Sanction</span>
											</p>
										</div>
										<label class="amount-color">
											<span th:text="#{amount}">Amount</span> <span
														th:text="#{inWords}">In Words</span>: {{workTenderBean.amountOfContract
											| inWords}}
										</label>
									</div> 
									
									<!-- <div class="form-group col-sm-3">
										<label><span th:text="#{probableAmountOfContract}">
												probableAmountOfContract</span> <span class="aestrick">&#42;</span></label>
										<input type="text" class="form-control digits-only"
											id="amountOfContract" required="required"
											data-ng-model="workTenderBean.amountOfContract"
											name="amountOfContract"	data-ng-change="calculateTenderCost(workTenderBean.amountOfContract, workTenderBean.tenderedRate, workTenderBean.tenderedRateSign, workData.administrationSanctionAmount);"										
											maxlength="9" autocomplete="off" />
										<div data-ng-show="workFormName.$submitted">
											<p class="help-block" style="color: red;"
												data-ng-show="workFormName.amountOfContract.$error.required">
												<span th:text="#{pleaseEnter}">Please enter</span> <span
													th:text="#{probableAmountOfContract}">Approved Cost
													AS Per Administrative Sanction</span>
											</p>
										</div>
										<label class="amount-color">
											<span th:text="#{amount}">Amount</span> <span
														th:text="#{inWords}">In Words</span>: {{workTenderBean.amountOfContract
											| inWords}}
										</label>
									</div> -->
									
									<div class="form-group col-sm-3">
										<label><span th:text="#{noOfParticipants}">noOfParticipants
										</span> <span class="aestrick">&#42;</span></label> <input type="text"
											class="form-control digits-only" id="noOFparticipants" required="required"
											data-ng-model="workTenderBean.noOFparticipants"
											name="noOFparticipants" />
										<div data-ng-show="workFormName.$submitted">
											<p class="help-block" style="color: red;"
												data-ng-show="workFormName.noOFparticipants.$error.required">
												<span th:text="#{pleaseEnter}">Please enter</span> <span
													th:text="#{noOfParticipants}">noOfParticipants </span>
											</p>
										</div>
									</div>
									
								</div>
							</div>



							<div class="card-header">
								<span th:text="#{successFulBidderDetails}">
									successFulBidderDetails</span>
							</div>

							<div class="card-body">
								<div class="row">
									<div class="form-group col-sm-3">
										<label><span th:text="#{contractor}">Contractor
										</span> <span class="aestrick">&#42;</span></label> 
										<input type="text" name="contractorTxt" id="contractorTxt"
											class="form-control"
											data-ng-model="workData.contractorBean.contractorTxt"
											placeholder="Enter at least 4 words to search in Contractor List"
											data-ng-change="loadContractors(workData.contractorBean.contractorTxt)" />

										<!--  <button type="button" class="btn btn-warning" data-ng-click="loadContractors(workData.contractorBean.contractorTxt)">
												&nbsp;<span >Search</span>
											</button><br/>-->
									</div>
									
									<div class="form-group col-sm-3">
										<label>&nbsp;</label> 
										<select style="padding-top: 5px;" class="form-control"
											id="contractorId" data-ng-model="workTenderBean.contractorId"
											name="contractorId" required="required">
											<option value="" disabled="disabled">--Select Contractor Here--</option>
											<option
												data-ng-repeat="contractor in contractors | orderBy : 'name'"
												value="{{contractor.id}}">{{contractor.name}}</option>
										</select>
										<div data-ng-show="workFormName.$submitted">
											<p class="help-block" style="color: red;"
												data-ng-show="workFormName.contractorId.$error.required">
												<span th:text="#{pleaseSelect}">Please select</span> <span
													th:text="#{contractor}">Contractor</span>
											</p>
										</div>
									</div>								
									
									<!-- data-ng-change="compareDates(workData.administrationSanctionBean.administrationSanctionDate,workData.technicalSanctionBean.technicalSanctionDate);" -->

									<div class="form-group col-sm-1">
										<label><span th:text="#{plusOrMinus}">+/-
										</span> <span class="aestrick">&#42;</span></label> <select
											class="form-control" id="tenderedRateSign"
											data-ng-model="workTenderBean.tenderedRateSign"
											data-ng-change="calculateTenderCost(workTenderBean.amountOfContract, workTenderBean.tenderedRate, workTenderBean.tenderedRateSign, workData.administrationSanctionAmount)"
											name="tenderedRateSign">
											<option value="" disabled="disabled">...</option>
											<option value="-">-</option>
											<option value="+">+</option>
										</select>
										 <div data-ng-show="workFormName.$submitted">
											<p class="help-block" style="color: red;"
												data-ng-show="workFormName.tenderedRateSign.$error.required">
												<span th:text="#{pleaseSelect}">Please select</span>
											</p>
										</div> 
									</div>

									<div class="form-group col-sm-2">
										<label><span th:text="#{tenderRate}">Tender
												Rate</span>(%) <span class="aestrick">&#42;</span></label> <input type="text"
											class="form-control number-OnlyTwoDecimal" id="tenderedRate" required="required"
											data-ng-model="workTenderBean.tenderedRate"
											name="tenderedRate" data-ng-blur="checkPercentageValue(workTenderBean.tenderedRate);calculateTenderCost(workTenderBean.amountOfContract, workTenderBean.tenderedRate, workTenderBean.tenderedRateSign, workData.administrationSanctionAmount)"/>
										<div data-ng-show="workFormName.$submitted">
											<p class="help-block" style="color: red;"
												data-ng-show="workFormName.tenderedRate.$error.required">
												<span th:text="#{pleaseEnter}">Please enter</span> <span
													th:text="#{tenderRate}">Tender Rate</span>
											</p>
										</div>
									</div>
									<div class="form-group col-sm-3">
										<label><span th:text="#{tenderCost}">Tender
												Cost</span> <span class="aestrick">&#42;</span></label> <input
											type="text" class="form-control digits-only"
											id="tenderCost" required="required"
											data-ng-model="workTenderBean.tenderCost" data-ng-readonly="true"  
											name="tenderCost"											
											maxlength="9" autocomplete="off" />
											
										<label class="amount-color">
											 {{workTenderBean.tenderCost| inWords}}
										</label>		
											
										<div data-ng-show="workFormName.$submitted">
											<p class="help-block" style="color: red;"
												data-ng-show="workFormName.tenderCost.$error.required">
												<span th:text="#{pleaseEnter}">Please enter</span> <span
													th:text="#{tenderCost}">Approved Cost AS Per
													Administrative Sanction</span>
											</p>
										</div>
										
									</div>
								</div>
								<div class="row"></div>

							</div>


							<div class="card-header">
								<span>Contractor Deposits</span>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="form-group col-sm-3">
										<label><span th:text="#{depositeCategory}">Execution
												Agency </span> <span class="aestrick">&#42;</span></label> <select
											class="form-control" id="depositeCategoryId" 
											data-ng-init="loadDepositeCategory()"
											data-ng-model="contratorDepositData.depositCategoryId"
											name="depositeCategoryId" data-ng-change="validateContractorDetails(contratorDepositData,'categoryId')">
											<option value="" disabled="disabled">--Select--</option>
											<option
												data-ng-repeat="depositeCategory in DepositeCategories | orderBy : 'depositecatnameE'"
												value="{{depositeCategory.id}}">{{depositeCategory.depositecatnameE}}</option>
										</select>
										<div data-ng-show="depositCategoryIdError">
											<p class="help-block" style="color: red;">
												<span th:text="#{pleaseSelect}">Please select</span> <span
													th:text="#{depositeCategory}">Execution Agency</span>
											</p>
										</div>
									</div>

									<div class="form-group col-sm-3">
										<label><span th:text="#{depositeType}">Execution
												Agency </span> <span class="aestrick">&#42;</span></label> <select
											class="form-control" id="depositeTypeId" 
											data-ng-init="loadDepositeType()"
											data-ng-model="contratorDepositData.depositTypeId"
											name="depositeTypeId" data-ng-change="validateContractorDetails(contratorDepositData,'typeId')">
											<option value="" disabled="disabled">--Select--</option>
											<option
												data-ng-repeat="depositeType in DepositeTypes | orderBy : 'depositetypenameE'"
												value="{{depositeType.id}}">{{depositeType.depositetypenameE}}</option>
										</select>
										<div data-ng-show="depositTypeIdError">
											<p class="help-block" style="color: red;">
												<span th:text="#{pleaseSelect}">Please select</span> <span
													th:text="#{depositeType}">Execution Agency</span>
											</p>
										</div>
									</div>

									<div class="form-group col-sm-3">
										<label><span th:text="#{amount}"> amount</span> <span
											class="aestrick">&#42;</span></label> <input type="text"
											class="form-control digits-only" id="amount"
											data-ng-model="contratorDepositData.amount"
											name="amount" data-ng-change="validateContractorDetails(contratorDepositData,'amount')"
											maxlength="9" autocomplete="off" />
										<div data-ng-show="amountError">
											<p class="help-block" style="color: red;">
												<span th:text="#{pleaseEnter}">Please enter</span> <span
													th:text="#{amount}">Approved Cost
													AS Per Administrative Sanction</span>
											</p>
										</div>
										<label class="amount-color">
											<!-- <span th:text="#{amount}">Amount</span> <span
														th:text="#{inWords}">In Words</span>:  -->{{contratorDepositData.amount
											| inWords}}
										</label>
									</div>
								
									<div class="form-group col-sm-3">
										<label><span th:text="#{issuingBankName}">Bank Name
												 </span> <span class="aestrick">&#42;</span></label> <select
											class="form-control" id="bankId" 
											data-ng-init="loadBankName()"
											data-ng-model="contratorDepositData.bankId"
											name="bankId" data-ng-change="validateContractorDetails(contratorDepositData,'bankId')">
											<option value="" disabled="disabled">--Select--</option>
											<option
												data-ng-repeat="Bank in BankNames | orderBy : 'bankName'"
												value="{{Bank.bankId}}">{{Bank.bankName}}</option>
										</select>
										<div data-ng-show="bankIdError">
											<p class="help-block" style="color: red;">
												<span th:text="#{pleaseSelect}">Please select</span> <span
													th:text="#{issuingBankName}">Execution Agency</span>
											</p>
										</div>
									</div>

									<div class="form-group col-sm-3">
										<label><span th:text="#{instrumentNumber}">Tender
												Number</span> <span class="aestrick">&#42;</span></label> <input type="text"
											class="form-control" id="instrumentNumber" 
											data-ng-model="contratorDepositData.instrumentNumber"
											name="instrumentNumber" data-ng-change="validateContractorDetails(contratorDepositData,'instrumentNumber')"/>
										<div data-ng-show="instrumentNumberError">
											<p class="help-block" style="color: red;">
												<span th:text="#{pleaseEnter}">Please enter</span> <span
													th:text="#{instrumentNumber}">Administrative Sanction No</span>
											</p>
										</div>
									</div>
									
									<div class="form-group col-sm-3">
										<label><span th:text="#{instrumentDate}">Instrument Date
												</span> <span class="aestrick">&#42;</span></label> <input
											type="text" class="form-control datepicker" id="instrumentDate"
											placeholder="DD/MM/YYYY" data-ng-change="validateContractorDetails(contratorDepositData,'instrumentDate')"
											data-ng-model="contratorDepositData.instrumentDate" 
											name="instrumentDate" maxlength="10" autocomplete="off" />
										<div data-ng-show="instrumentDateError">
											<p class="help-block" style="color: red;">
												<span th:text="#{pleaseSelect}">Please enter</span> <span
													th:text="#{instrumentDate}">instrumentDate</span>
											</p>
										</div>
									</div>
									
									
									
									
									<div class="form-group col-sm-3">
										<label><span th:text="#{expiredOn}">Expired
												On Date</span> <span class="aestrick">&#42;</span></label> <input
											type="text" class="form-control datepicker" id="expiredOn"
											placeholder="DD/MM/YYYY" data-ng-change="validateContractorDetails(contratorDepositData,'expiredOn')"
											data-ng-model="contratorDepositData.expiredOn" 
											name="expiredOn" maxlength="10" autocomplete="off" />
										<div data-ng-show="expiredOnError">
											<p class="help-block" style="color: red;">
												<span th:text="#{pleaseSelect}">Please enter</span> <span
													th:text="#{expiredOn}">expiredOn date</span>
											</p>
										</div>
									</div>
									
									<div class="form-group col-sm-3">
										<label>&nbsp;</label> 
										<div>
											<input type="button" class="btn btn-sm btn-success" data-ng-click="addContractorDetail(contratorDepositData)" value="Add Details"/>
										</div>									
									</div>
								</div>
								
								<div class="row">
									<div class="form-group col-sm-12">
										<table class="table table-hover">
											<thead>
												<tr style="background-color: #f0f3f5;">
													<th><label>S. No.</label></th>
													<th><label><span th:text="#{depositeCategory}"></span></label></th>
													<th><label><span th:text="#{depositeType}"></span></label></th>
													<th><label><span th:text="#{amount}"></span></label></th>
													<th><label><span th:text="#{issuingBankName}"></span></label></th>
													<th><label><span th:text="#{instrumentNumber}"></span></label></th>
													<th><label><span th:text="#{instrumentDate}"></span></label></th>
													
												    <th><label><span th:text="#{expiredOn}"></span></label></th>
													<th><label>Actions</label></th>
												</tr>								
											</thead>
											<tbody>
												<tr data-ng-repeat="contratorDepositData in workTenderBean.contratorDepositsList">
													<td>{{$index+1}}.</td>
													<td>{{contratorDepositData.depositCategoryName}}</td>
													<td>{{contratorDepositData.depositTypeName}}</td>
													<td>{{contratorDepositData.amount}}</td>
													<td>{{contratorDepositData.bankName}}</td>
													<td>{{contratorDepositData.instrumentNumber}}</td>
													<td>{{contratorDepositData.instrumentDate}}</td>
													<td>{{contratorDepositData.expiredOn}}</td>
													<td align="center"><input type="button" class="remove" data-ng-click="removeContractorDetail($index)" title="Remove Entry" value="-"/></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="card-footer text-right">
								<button
									data-ng-show="loggedInUserRole==ROLE_AE || loggedInUserRole==ROLE_EE"
									type="submit" class="btn btn-sm btn-primary"
									data-ng-click="saveAsDraft=true">
									<span th:text="#{saveAsDraft}">Save As Draft</span>
								</button>

								<button type="submit" class="btn btn-sm btn-primary"
									data-ng-click="submit=true">
									<span>Submit</span>
								</button>
							</div>
						</form>
					</div>
				</div>
				<!--/.col-->
			</div>
			<!--/.row-->
		</div>
	</div>
	<!-- /.container-fluid -->
</div>
<div class="modal fade popup-lg" tabindex="-1" role="dialog"
	aria-labelledby="myLargeModalLabel" aria-hidden="true"
	id="add-new-item-popup">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h6 class="modal-title">
					<span>Add New Item</span>
				</h6>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>



		</div>
	</div>
</div>
</html>