<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<script th:src="@{/js/language.js}"></script>
</head>
<script type="text/javascript">
	$(function() {

		$('#datetimepicker1').datetimepicker({
			//viewMode : 'days',
			//maxDate : moment(),
			//useCurrent: false,
			format : 'DD/MM/YYYY'
		//useCurrent : false
		});
		/* $("#dateOfRegistration").keypress(function(event) {
			event.preventDefault();
		}); */

		$('#datetimepicker2').datetimepicker({
			//viewMode : 'days',
			maxDate : moment(),
			//useCurrent: false,
			format : 'DD/MM/YYYY',
			useCurrent : false
		});

		$('#datetimepicker3').datetimepicker({
			//viewMode : 'days',
			//maxDate : moment(),
			//useCurrent: false,
			format : 'DD/MM/YYYY'
			//useCurrent : false
		});

		$('#datetimepicker4').datetimepicker({
			//viewMode : 'days',
			maxDate : moment(),
			//useCurrent: false,
			format : 'DD/MM/YYYY',
			useCurrent : false
		});

	});
</script>
<div>
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#dashboard"><span
				th:text="#{home}">Home</span></a></li>
		<li class="breadcrumb-item"><a
			href="#manageTechnicalSanctionDataRoute"><span
				th:text="#{viewTechnicalSanction}">view Technical sanction</span></a></li>


		<!-- Breadcrumb Menu-->
		<li class="breadcrumb-menu d-md-down-none">
			<div class="btn-group" role="group" aria-label="Button group">
				<a class="btn" href="#" data-ng-click="doTheBack()"><i
					class="icon-arrow-left-circle"></i> &nbsp;<span th:text="#{back}">Back</span></a>
			</div>
		</li>
	</ol>

	<div class="container-fluid">
		<div class="animated fadeIn">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header top-header">
							<i class="fa fa-wpforms"></i> <span th:text="#{viewTechnicalSanction}">Add
								Technical Section</span>
						</div>
						<div class="col-md-12">
							<div data-ng-if="responseObject.errorMessage != null"
								class="text-danger">
								<strong>Error!</strong>
								<p>{{responseObject.errorMessage}}</p>
							</div>
						</div>
						
						<form data-ng-submit="addTechnicalSanction(workFormName.$valid, ldPdfFile)"
							name="workFormName" id="workForkName" novalidate="novalidate" data-ng-init="loadWorkDetail();">

							<div class="card-header">
								<span th:text="#{workDetails}">Work Details</span>
							</div>
							<div class="card-body">
								<table style="width: 100%;">
									<tr>
										<td width="50%"><span style="font-weight: 700;">Work
												Name: </span>{{workData.workName}}</td>
										<td width="50%"><span style="font-weight: 700;">Work
												Type: </span>{{workData.workTypeBean.workTypeNameE}}</td>
									</tr>
									<tr>
										<td width="50%"><span style="font-weight: 700;">Line
												Department: </span>{{workData.lineDepartmentBean.lineDepartmentNameE}}</td>
										<td width="50%"><span style="font-weight: 700;">Work
												Sub Type: </span>{{workData.workSubTypeBean.workSubTypeNameE ?
											workData.workSubTypeBean.workSubTypeNameE : '-'}}</td>
									</tr>
									<tr>
										<td width="50%"><span style="font-weight: 700;">Executed
												By: </span>{{workData.agencyTypeBean.agencyTypeNameE ?
											workData.agencyTypeBean.agencyTypeNameE : '-'}}</td>
										<td width="50%"><span style="font-weight: 700;">District
												Name: </span>{{workData.districtName ? workData.districtName :
											'-'}}</td>
									</tr>
									<tr>
										<td width="50%"><span style="font-weight: 700;">Gram
												Panchayat Name By: </span>{{workData.gramPanchayatName ?
											workData.gramPanchayatName : '-'}}</td>
										<td width="50%"><span style="font-weight: 700;">Village
												Name: </span>{{workData.villageBean.villageName ?
											workData.villageBean.villageName : '-'}}</td>
									</tr>

								</table>

							</div>

							<div class="card-header">
								<span>Technical Sanction Details</span>
							</div>
							<div class="card-body">
								<table style="width: 100%;">
									<tr>
										<td width="50%"><span style="font-weight: 700;">Technical
												Sanction Type: </span></td>
										<td width="50%"><span style="font-weight: 700;">Technical
												Sanction Amount: </span>Original</td>
									</tr>
									<tr>
										<td width="50%"><span style="font-weight: 700;">Status:
										</span>Pending</td>
										<td width="50%"><span style="font-weight: 700;">Estimation
												Date: </span></td>

										<tr>
								<td width="50%"><span style="font-weight: 700;">Issuing
												Authority: </span></td>
										<td width="50%"><span style="font-weight: 700;">Issued
												By: </span></td>
									</tr>
									</tr></table>

							</div>
							<div class="card-header">
								<span th:text="#{dispatchDetails}">Dispatch Details</span>
							</div>



							<!-- administrative section details -->


							<div class="card-body">
								<div class="row">



									<div class="form-group col-sm-4">
										<label><span th:text="#{technicalSanction}">Technical Sanction </span><span th:text="#{dispatchNo}">Dispatch No.</span><span class="aestrick">&#42;</span></label> <input
											type="text" class="form-control" id="workTsNoId"
											required="required"
											data-ng-model="workData.technicalSanctionNo"
											disabled="disabled"
											name="technicalSanctionNo" />
											
											<input type="hidden"  data-ng-model="workData.workId" />
											
										<div data-ng-show="workFormName.$submitted">
											<p class="help-block" style="color: red;"
												data-ng-show="workFormName.technicalSanctionNo.$error.required">
												<span th:text="#{pleaseEnter}">Please enter</span> <span
													th:text="#{technicalSanctionNo}">technical
													Sanction No</span>
											</p>
										</div>
									</div>
									
									
									<div class="form-group col-sm-4">
										<label><span th:text="#{technicalSanction}">Technical Sanction </span><span th:text="#{olddispatchNo}">Dispatch No.</span><span class="aestrick">&#42;</span></label> <input
											type="text" class="form-control" id="nworkTsNoId"
											required="required"
											data-ng-model="workData.tsDispatchNumber"
											disabled="disabled"
											name="tsDispatchNumber" />
											
											<input type="hidden"  data-ng-model="workData.workId" />
											
										<div data-ng-show="workFormName.$submitted">
											<p class="help-block" style="color: red;"
												data-ng-show="workFormName.tsDispatchNumber.$error.required">
												<span th:text="#{pleaseEnter}">Please enter</span> <span
													th:text="#{tsDispatchNumber}">technical
													Sanction No</span>
											</p>
										</div>
									</div>
									
									

									<!-- data-ng-change="compareDates(workData.administrationSanctionBean.administrationSanctionDate,workData.technicalSanctionBean.technicalSanctionDate);" -->

									<div class="form-group col-sm-4">
										<label><span th:text="#{technicalSanction}">Technical Sanction </span><span th:text="#{dispatchDate}">Dispatch Date</span><span class="aestrick">&#42;</span></label>
										<div class="input-group date" id="datetimepicker3"
											data-target-input="nearest">
											<input type="text" class="form-control datetimepicker-input"
												data-target="#datetimepicker3"
												name="technicalSanctionDate"
												disabled="disabled"
												required="required" placeholder="DD/MM/YYYY"
												data-ng-model="workData.technicalSanctionDate"
												id="startingDate" autocomplete="off" />
											<!--  data-ng-change="validateStartingDate();validateSubAcctStartingDate();" 
													ye wali line upar autocomplete ke baad aayegi
													-->

											<div class="input-group-append input-group-addon"
												data-target="#datetimepicker3" data-toggle="datetimepicker">
												<div class="input-group-text">
													<i class="fa fa-calendar"></i>
												</div>
											</div>
										</div>

										<div data-ng-show="workFormName.$submitted">
											<p class="help-block" style="color: red;"
												data-ng-show="workFormName.technicalSanctionDate.$error.required">
												<span th:text="#{pleaseEnter}">Please enter</span> <span
													th:text="#{technicalSanctionDate}">Technical 
													Sanction Date</span>
											</p>
										</div>
										

									</div>

									<!-- <div class="form-group col-sm-4">
										<div class="form-group">
											<label> <span
												th:text="#{uploadTechnicalSanctionFile}">Upload
													Technical Sanction File</span><span class="aestrick">&#42;</span>
											</label> <input type="file" accept=".pdf" class="form-control"
												file-model="asPdfFile" /> (<span
												th:text="#{allowedPdfFormatOnly}"></span>)

											 <p class="help-block" style="color: red;" data-ng-show="noFileError">
                                                  <span th:text="#{pleaseUploadAdministrationSanctionFile}">Please upload Administration Sanction File</span>
                                              </p>
											<p class="help-block" style="color: red;"
												data-ng-show="fileExtentionErrorAs">
												<span th:text="#{uploadedFileFormatDoesNotSupported}">Uploaded
													File Format does not supported</span>
											</p>

										</div>
									</div> -->
									
									
									
									
									<div class="form-group col-sm-4">
                   							<div class="form-group">
                       						<label>
                                             <span th:text="#{downloadTechnicalSanctionFile}">Download
													Technical Sanction File</span>
                                             <span class="aestrick">&#42;</span> </label>
                                             <!--  <input required="required" type='file' accept=".pdf" class="form-control" file-model="ldPdfFile" name="ldPdfFile" id="ldPdfFile" />
                                              (<span th:text="#{allowedPdfFormatOnly}"></span>) -->
                                              <p class="help-block" data-ng-show="workData.technicalSanctionFileId!=0 &amp;&amp; workData.technicalSanctionFileId!=null">
                                              <span th:text="#{downloadCurrentFile}"></span>
                                              <a style="cursor: pointer;" data-ng-click="downloadDocument(workData.technicalSanctionFileId)">
                                              <img th:src="@{/img/download.ico}" style="width: 7%;" alt="" />
                                              </a>
                                              </p>
                                               <p class="help-block" data-ng-show="workData.technicalSanctionFileId==null">
                                              <span th:text="#{noFileAvailable}"></span></p>
                                              											  
                                           <!--    <p class="help-block" style="color: red;" data-ng-show="noFileError">
                                                  <span th:text="#{pleaseUploadAdministrationSanctionFile}">Please upload Administration Sanction File</span>
                                              </p> -->
                                           	 <!--  <p class="help-block" style="color: red;" data-ng-show="fileExtentionErrorLd &amp;&amp; !workFormName.$submitted">
                                                   <span th:text="#{uploadedFileFormatDoesNotSupported}">Uploaded File Format does not supported</span>
                                              </p>
                                              
                                               <div data-ng-show="workFormName.$submitted">                                                                        
                                              <p class="help-block" style="color: red;" data-ng-show="noFileError">
                                                  <span th:text="#{pleaseUploadTheFile}">Please upload the file</span>
                                              </p>
                                            <p class="help-block" style="color: red;" data-ng-show="maxSizeError">
                                               <span th:text="#{application.page.maxSizeError}">Uploaded file exceeding allowed file size</span>
                                             </p>
                                            <p class="help-block" style="color: red;" data-ng-show="fileExtentionErrorLd">
                                                   <span th:text="#{uploadedFileFormatDoesNotSupported}">Uploaded file format does not supported</span>
                                            </p>
                                               </div> -->
                                              
                                              
                                             </div>
                                          </div>
                                          
                                          
                                          
                                          <div class="form-group col-sm-12">
										
										
										</div>
                                          
									
									
									
									
									
								</div>
								

							</div>


							<!-- <div class="card-footer text-right">
								<button 
									type="submit" class="btn btn-sm btn-primary"   >
									<span th:text="#{submit}">Submit</span>
								</button>
								<button class="btn btn-sm btn-primary" data-ng-click="redirectToTechnicalSanctionListing()" >
									<span>Cancel</span>
								</button>
							</div> -->
						</form>
					</div>
				</div>
				<!--/.col-->
			</div>
			<!--/.row-->
		</div>
	</div>
	<!-- /.container-fluid -->
</div>
</html>