<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	data-ng-app="res">
<!--<![endif]-->

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon" />

	<title>ग्रामीण यांत्रिकी सेवा ~ Rural Engineering Service</title>
	<link th:href="@{new/css/owl.carousel.css}" rel="stylesheet" />
	<script type="text/javascript" th:src="@{/new/js/jquery.min.js}"></script>
	<!-- CSS -->

	<link th:href="@{new/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{new/fonts/font-awesome/css/font-awesome.css}" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel='stylesheet' type='text/css' />
	<link th:href="@{new/fonts/flat/flaticon.css}" rel="stylesheet" />
	<link th:href="@{new/fonts/line/css/style.css}" rel="stylesheet" />
	<link th:href="@{new/css/bootsnav.css}" rel="stylesheet" />
	<link th:href="@{new/css/thumbticker.css}" rel="stylesheet" />
	<link th:href="@{new/css/style.css}" rel="stylesheet" />
	<!-- <link th:href="@{new/css/datatable/datatables.css}" rel="stylesheet"/>-->
	<link th:href="@{new/css/leaflet/leaflet.css}" rel="stylesheet" />
	<link th:href="@{new/css/leaflet/leaflet-loader.css}" rel="stylesheet" />
	<link th:href="@{/css/angular-loading.css}" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" type="text/css" th:href="@{/DataTables-1.10.16/css/dataTables.bootstrap4.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/Buttons-1.5.1/css/buttons.bootstrap4.min.css}" />

	<link th:href="@{new/css/leaflet/leaflet.fullscreen.css}" rel="stylesheet" />
	<link
		href="https://fonts.googleapis.com/css?family=Amita|Inknut+Antiqua|Tillana|Asar|Modak|Yatra+One|Indie+Flower|Aclonica"
		rel="stylesheet" />

	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
	<script th:src="@{/js/pace.min.js}"></script>
	<!-- <script th:src="@{/js/Chart.min.js}"></script> -->

	<script th:src="@{/js/app.js}"></script>
	<!-- <script th:src="@{/js/views/main.js}"></script> -->
	<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/js/jQuery.print.js}"></script>
	<script th:src="@{/js/moment.js}"></script>
	<script th:src="@{/angular/angular.min.js}"></script>
	<script th:src="@{/angular/angular-route.min.js}"></script>
	<script th:src="@{/angular/angular-idle.min.js}"></script>
	<script th:src="@{/js/ui-bootstrap-tpls-2.5.0.min.js}"></script>
	<script th:src="@{/js/spin.js}"></script>
	<script th:src="@{/angular/angular-loading.js}"></script>


	<script type="text/javascript" th:src="@{/JSZip-2.5.0/jszip.min.js}"></script>
	<script type="text/javascript" th:src="@{/DataTables-1.10.16/js/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/DataTables-1.10.16/js/dataTables.bootstrap4.min.js}"></script>
	<script type="text/javascript" th:src="@{/Buttons-1.5.1/js/dataTables.buttons.min.js}"></script>
	<script type="text/javascript" th:src="@{/Buttons-1.5.1/js/buttons.bootstrap4.min.js}"></script>
	<script type="text/javascript" th:src="@{/Buttons-1.5.1/js/buttons.html5.min.js}"></script>



	<script th:src="@{/js/highcharts.v5.0.14.min.js}"></script>
	<script th:src="@{/js/drilldown.js}"></script>
	<script th:src="@{/js/exporting.js}"></script>
	<script th:src="@{/js/leaflet/leaflet.js}"></script>
	<script th:src="@{/js/leaflet/leaflet-loader.js}"></script>
	<script th:src="@{/js/leaflet/Leaflet.fullscreen.min.js}"></script>
	<script th:src="@{/js/leaflet/MPDist.js}"></script>
	<style type="text/css">
		.legend {
			line-height: 22px !important;
			color: #555;
			/*bottom:200px;*/
		}

		.legend i {
			width: 18px;
			height: 18px;
			float: left;
			margin-right: 8px;
			opacity: 0.7;
		}

		.mainLoader {
			text-align: center;
			margin-top: 200px;
		}

		.info {
			padding: 6px 8px;
			font: 14px/16px Arial, Helvetica, sans-serif;
			background: white;
			color: black;
			text-align: left;
			background: rgba(255, 255, 255, 0.8);
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
			border-radius: 5px;
		}

		.info h4 {
			margin: 0 0 5px;
			color: #777;
			text-align: left;
		}

		.textLabelclass {
			white-space: nowrap;
			font-weight: 300;
			text-shadow: 0 0 0.1em black, 0 0 0.1em black,
				0 0 0.1em black, 0 0 0.1em black, 0 0 0.1em;
			color: #fff;
		}
	</style>
	<script type="text/javascript">
		/*<![CDATA[*/

		function loadThematicMap() {
			$.ajax({
				url: "districtWiseWorkStatus?isThematicMap=true",
				success: function (resp) {
					LoadMap(resp);
				},
				error: function (msg) {
					//alert(msg);
				}
			});
		}
		function LoadMap(dist_values) {
			var url = null;
			var tbl = jQuery.parseJSON(JSON.stringify(dist_values));
			//var tbl=JSON.parse(dist_values);

			url = "https://geoportal.mp.gov.in/thematicmap/GetThematicMap.svc/GetAllDistrictsMap";

			var map = L.map('mapid', {scrollWheelZoom: false, attributionControl: false}).setView([23.535331, 78.628386], 7);

			map.addControl(new L.Control.Fullscreen());
			map.isFullscreen() // Is the map fullscreen?
			//map.toggleFullscreen() // Either go fullscreen, or cancel the existing fullscreen.

			//`fullscreenchange` Event that's fired when entering or exiting fullscreen.
			map.on('fullscreenchange', function () {
				if (map.isFullscreen()) {
					map.setView([23.535331, 78.628386], 7);
					//console.log('entered fullscreen');
				} else {
					//map.setView([23.535331, 78.628386], 7);
					//console.log('exited fullscreen');
				}
			});



			var controlLoader = L.control.loader().addTo(map);
			controlLoader.show();

			$.ajax({
				url: url,
				beforeSend: function () {

					//$('#mapid').html('<div style="margin-top:150px;"><img src="${pageContext.request.contextPath}/resources/images/loading.gif" class="ajax-loader"></div>');
				},
				success: function (resp) {
					var mapData = null;
					var distArray = [];

					mapData = JSON.parse(resp.AttributeList[0].alldistrictsmap);

					for (var i = 0; i < tbl.length; i++) {
						for (var j = 0; j < mapData.features.length; j++) {
							if (mapData.features[j].properties["Dist_Code"] == tbl[i].code) {
								mapData.features[j].properties["District_Id"] = tbl[i].id;
								mapData.features[j].properties["District_Name"] = tbl[i].name;
								mapData.features[j].properties["Not_Started"] = tbl[i].count1;
								mapData.features[j].properties["In_Progress"] = tbl[i].count2;
								mapData.features[j].properties["On_Hold"] = tbl[i].count3;
								mapData.features[j].properties["Completed"] = tbl[i].count4;
								mapData.features[j].properties["Cancelled"] = tbl[i].count5;

								distArray.push(mapData.features[j].properties["Dist_Code"]);

								//Code for Create Lable
								var createLabelIcon = function (labelClass, labelText) {
									return L.divIcon({
										className: labelClass,
										html: labelText
									})
								}


								var cnet = mapData.features[j].geometry.coordinates;
								var poly = L.polygon(cnet).addTo(map);
								var m = poly.getBounds().getCenter();
								var marker = L.marker([m.lng, m.lat], {icon: createLabelIcon("textLabelclass", tbl[i].name)}).addTo(map);

								//var marker = L.marker([district_map.features[i].geometry.coordinates[0][0][1], district_map.features[i].geometry.coordinates[0][0][0]]).addTo(map);
								// marker.bindPopup('<b>' + tbl[i].name + '</b><br/>' +'Total Horizontal Clients/Links' + '<b>: ' + tbl[i].count + '</b>' +'<br/>' + 'Total Pending Requests' + '<b>: ' + tbl[i].count2 + '</b>');
								break;
							}
						}
					}


					geojson = L.geoJson(mapData, {
						style: GetThemeColor,
						onEachFeature: onEachFeature
					});

					var legend = L.control({position: 'bottomright'});

					legend.onAdd = function (map) {

						var div = L.DomUtil.create('div', 'info legend');

						//color = [1, 10, 20, 30, 40, 50];

						div.innerHTML +=
							'Legends: <br><b>Completed Works</b>' + '<br>';
						div.innerHTML +=
							'<i style="background:' + getColor(0) + '"></i> ' + '0' + '<br>';
						div.innerHTML +=
							'<i style="background:' + getColor(1) + '"></i> ' + '1-75' + '<br>';

						div.innerHTML +=
							'<i style="background:' + getColor(77) + '"></i> ' + '76-150' + '<br>';

						div.innerHTML +=
							'<i style="background:' + getColor(152) + '"></i> ' + '151-225' + '<br>';

						div.innerHTML +=
							'<i style="background:' + getColor(227) + '"></i> ' + '226-300' + '<br>';

						div.innerHTML +=
							'<i style="background:' + getColor(302) + '"></i> ' + '301-375' + '<br>';
						div.innerHTML +=
							'<i style="background:' + getColor(376) + '"></i> ' + '375+' + '<br>';

						div.innerHTML +=
							'<i style="background:' + 'grey' + '"></i> ' + 'Not applicable';


						/*for (var i = 1; i < color.length; i++) {
							div.innerHTML +=
								'<i style="background:' + getColor(color[i]+1) + '"></i> ' +
								color[i] + (color[i + 1] ? '&ndash;' + color[i + 1] + '<br>' : '+');
						}*/

						return div;
					}

					function highlightFeature(e) {
						var layer = e.target;
						var feature = layer.feature;

						layer.setStyle({
							weight: 5,
							color: '#fff',
							dashArray: '',
							// fillOpacity: 0.5
						});

						var highlightStyle = {
							color: '#2262CC',
							weight: 3,
							opacity: 0.6,
							fillOpacity: 0.65,
							fillColor: '#2262CC'
						};

						var defaultStyle = {
							color: "#2262CC",
							weight: 2,
							opacity: 0.6,
							fillOpacity: 0.1,
							fillColor: "#2262CC"
						};



						if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
							layer.bringToFront();
						}
						info.update(layer.feature.properties);
					}
					function resetHighlight(e) {
						geojson.resetStyle(e.target);
						info.update();
					}
					function zoomToFeature(e) {
						map.fitBounds(e.target.getBounds());
					}

					function GetThemeColor(feature) {
						if (distArray.indexOf(feature.properties.Dist_Code) > -1) {
							return {
								fillColor: getColor(feature.properties.Completed),
								weight: 2,
								opacity: 1,
								color: 'white',
								dashArray: '3',
								fillOpacity: 1,

							};
						} else {
							return {
								fillColor: "grey",
								weight: 2,
								opacity: 1,
								color: 'white',
								dashArray: '3',
								fillOpacity: 1,

							};
						}

					}

					function getColor(d) {

						return d > 375 ? '#008000' : (d > 300 && d <= 375) ? '#00cc00' : (d > 225 && d <= 300) ? '#99ff99' : (d > 150 && d <= 225) ? '#ccffcc' : (d > 75 && d <= 150) ? '#F79F81' : (d > 0 && d <= 75) ? '#FA5858' : '#DF0101';

						//return '#b5e5c1';
					}

					function onEachFeature(feature, layer) {
						if (distArray.indexOf(feature.properties.Dist_Code) > -1) {
							layer.on({

								dblclick: function () {
									//window.open("themeticMapBlockWiseView?districtId=" + feature.properties.District_Id); 
								},
								mouseover: highlightFeature,
								mouseout: resetHighlight,
								click: zoomToFeature
							});
						}
					}

					var URL3 = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';
					var OSM = L.tileLayer(URL3, {
						maxZoom: 20,
						minZoom: 6,
						id: 'mapbox.streets-satellite'

					});

					var googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', {
						maxZoom: 20,
						minZoom: 6,
						subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
					});

					var DistBound = new L.LayerGroup([geojson]).setZIndex(200);
					var OSMMap = new L.LayerGroup([OSM]).setZIndex(400);
					var GoogleMap = new L.LayerGroup([googleSat]).setZIndex(600);

					var baseLayers = {
						"Open Street Map": OSMMap,
						"Google Map": GoogleMap
					};

					var overlays = {
						"District Boundaries": DistBound

					};

					L.control.layers(baseLayers, overlays).addTo(map);
					map.addLayer(DistBound);
					legend.addTo(map);

					map.fitBounds(geojson.getBounds()).setMinZoom(7);
					controlLoader.hide();


					var info = L.control();
					info.onAdd = function (map) {
						this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
						this.update();
						return this._div;
					};

					// method that we will use to update the control based on feature properties passed
					info.update = function (props) {

						this._div.innerHTML = (props ?
							'<b>' + 'District Name :' + props.District_Name + '</b><br />' + 'Completed Works: ' + props.Completed + '</b><br />'
							+ 'In Progress Works :' + props.In_Progress + '</b><br />'
							+ 'On Hold Works: ' + props.On_Hold + '</b><br />'
							+ 'Cancelled Works: ' + props.Cancelled + '</b><br />'
							+ 'Not Started Works: ' + props.Not_Started + '</b><br />'
							: 'Hover over District');

					};

					info.addTo(map);


				},
				error: function (msg) {
					//alert(msg);
					controlLoader.hide();
				}

			});

		}






		function DrawWorkTypeChart(obj, workTypeNamesData) {

			$('#workTypeChartContainer').highcharts({

				chart: {
					type: 'column',

					events: {
						drilldown: function (e) {

							if (!e.seriesOptions) {
								var chart = this;
								//  chart.showLoading('Loading Drill down ...');

								chart.setTitle({
									text: 'Status - Work Type: ' + e.point.name + '- Sub Type wise'
								});
								chart.setSubtitle({
									text: ''
								});

								var drilldowns = getWorkSubTypeDataFromWorkTypeId(e.point.id);
								var series = [drilldowns['workTypeName'], drilldowns['workTypeName' + '_1'], drilldowns['workTypeName' + '_2'], drilldowns['workTypeName' + '_3'], drilldowns['workTypeName' + '_4']];
								chart.addSingleSeriesAsDrilldown(e.point, series[3]);
								chart.addSingleSeriesAsDrilldown(e.point, series[1]);
								chart.addSingleSeriesAsDrilldown(e.point, series[2]);
								chart.addSingleSeriesAsDrilldown(e.point, series[4]);
								chart.addSingleSeriesAsDrilldown(e.point, series[0]);
								chart.applyDrilldown();

							}
						},
						drillup: function (e) {
							var chart = this;
							chart.setTitle({text: 'Status - Work Type Wise'}, {text: ''});
						}
					}
				},
				title: {
					text: 'Status - Work Type Wise'
				},
				subtitle: {
					//text: 'Source: <a href="https://en.wikipedia.org/wiki/World_population">Wikipedia.org</a>'
				},
				xAxis: {
					//categories: workTypeNamesData
					type: 'category'
				},
				yAxis: {
					min: 0,
					title: {
						text: 'Works Count',
						align: 'high'
					},
					stackLabels: {
						enabled: true,
						style: {
							fontWeight: 'bold',
							color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
						}
					}
				},
				tooltip: {
					//headerFormat: '<b>{point.x}</b><br/>',
					pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
				},
				plotOptions: {
					column: {
						stacking: 'normal',
						dataLabels: {
							enabled: true,
							color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
						}
					},

					series: {
						stacking: 'normal',
						borderWidth: 0,
						dataLabels: {
							enabled: true
						}
					}
				},
				legend: {
					align: 'right',
					x: -30,
					verticalAlign: 'top',
					y: 25,
					floating: true,
					backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
					borderColor: '#CCC',
					borderWidth: 1,
					shadow: false
				},
				credits: {
					enabled: false
				},
				series: obj,
				drilldown: {
					series: []
				}
			});
		}

		/*function CallChild(id) {
			var notStartedData = [];
			var inProgressData = [];
			var onHoldData = [];
			var completedData = [];
			var workTypeNamesData = [];
			var obj;
		
			$.ajax({  
				type: "GET", 
				dataType: "json",
				contentType: "application/json; charset=utf-8",  
				url: "workSubTypeWiseStatus?workTypeId=1",
				success: function (Result) {
						for (var i in Result) {
							var notStarted = { name: Result[i].name, y: Result[i].count1, drilldown:true, id: Result[i].id };
							//var notStarted = new Array(Result[i].name, Result[i].count1);
							notStartedData.push(notStarted);
						    
							var inProgress = { name: Result[i].name, y: Result[i].count2, drilldown:true, id: Result[i].id };
							//var inProgress = new Array(Result[i].name, Result[i].count2);
							inProgressData.push(inProgress);
						    
							var onHold = { name: Result[i].name, y: Result[i].count3, drilldown:true, id: Result[i].id };
							//var onHold = new Array(Result[i].name, Result[i].count3);
							onHoldData.push(onHold);
						    
							var completed = { name: Result[i].name, y: Result[i].count4, drilldown:true, id: Result[i].id };
							//var completed = new Array(Result[i].name, Result[i].count4);
							completedData.push(completed);
						    
							var workTypeNames = new Array(Result[i].name);
							workTypeNamesData.push(workTypeNames);
						}
					    
				},
				error: function (Result1) {  
					alert("Error"); 
				}  
		   });
			   
			return obj;  
		}*/

		function DrawStatusWisePieChart(chartData) {

			$('#statusWisePieContainer').highcharts({


				chart: {
					type: 'pie'
				},
				title: {
					text: ''
				},
				subtitle: {
					//text: 'Source: <a href="https://en.wikipedia.org/wiki/World_population">Wikipedia.org</a>'
				},
				tooltip: {
					//valueSuffix: ' millions'
				},
				plotOptions: {
					series: {
						dataLabels: {
							enabled: true,
							format: '{point.name}: {point.y}'
						}
					}
				},
				tooltip: {
					headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
					pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b><br/>'
				},
				legend: {
					align: 'right',
					x: -30,
					verticalAlign: 'top',
					y: 25,
					floating: true,
					backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
					borderColor: '#CCC',
					borderWidth: 1,
					shadow: false
				},
				credits: {
					enabled: false
				},
				series: [{
					name: "Work Status",
					//colorByPoint: true,
					data: chartData,
					dataLabels: {
						enabled: true,
						padding: 0
					}
				}]

			});
		}

		function DrawOfficeWisePieChart(chartData) {

			$('#officeWisePieContainer').highcharts({
				chart: {
					type: 'pie',
					events: {
						drilldown: function (e) {

							if (!e.seriesOptions) {
								var chart = this;
								//  chart.showLoading('Loading Drill down ...');

								chart.setTitle({
									text: 'CE Office: ' + e.point.name + '<br/>SE Office Wise Works Count'
								});
								chart.setSubtitle({
									text: ''
								});

								var drilldowns = getSEOfficeWiseDataByCEOfficeId(e.point.id, e.point.name);
								chart.addSingleSeriesAsDrilldown(e.point, drilldowns);
								chart.applyDrilldown();

							}
						},
						drillup: function (e) {
							var chart = this;
							chart.setTitle({text: 'CE Office Wise Works Count'}, {text: ''});
						}
					}
				},
				title: {
					text: 'CE Office Wise Works Count'
				},
				subtitle: {
					//text: 'Source: <a href="https://en.wikipedia.org/wiki/World_population">Wikipedia.org</a>'
				},
				tooltip: {
					//valueSuffix: ' millions'
				},
				plotOptions: {
					series: {
						dataLabels: {
							enabled: true,
							format: '{point.name}: {point.y}',
							style: {
								width: '100px'
							}
						}
					}
				},
				tooltip: {
					headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
					pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b><br/>'
				},
				legend: {
					align: 'right',
					x: -30,
					verticalAlign: 'top',
					y: 25,
					floating: true,
					backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
					borderColor: '#CCC',
					borderWidth: 1,
					shadow: false
				},
				credits: {
					enabled: false
				},
				series: [{
					name: "CE Office",
					colorByPoint: true,
					data: chartData,
					//showInLegend:true,
					dataLabels: {
						enabled: true,
						padding: 0
					}
				}]

			});
		}

		function getWorkSubTypeDataFromWorkTypeId(id) {

			var drilldowns = {};
			$.ajax({
				type: "GET",
				contentType: "application/json; charset=utf-8",
				url: "workSubTypeWiseStatus?workTypeId=" + id,
				dataType: "json",
				async: false,
				success: function (Result) {

					var notStartedData = [];
					var inProgressData = [];
					var onHoldData = [];
					var completedData = [];
					var cancelledData = [];
					var workTypeNamesData = [];
					for (var i in Result) {

						//var notStarted = { name: Result[i].name, y: Result[i].count1, drilldown:true, id: Result[i].id };
						var notStarted = new Array(Result[i].name, Result[i].count1);
						notStartedData.push(notStarted);

						//var inProgress = { name: Result[i].name, y: Result[i].count2, drilldown:true, id: Result[i].id };
						var inProgress = new Array(Result[i].name, Result[i].count2);
						inProgressData.push(inProgress);

						//var onHold = { name: Result[i].name, y: Result[i].count3, drilldown:true, id: Result[i].id };
						var onHold = new Array(Result[i].name, Result[i].count3);
						onHoldData.push(onHold);

						//var completed = { name: Result[i].name, y: Result[i].count4, drilldown:true, id: Result[i].id };
						var completed = new Array(Result[i].name, Result[i].count4);
						completedData.push(completed);

						var cancelled = new Array(Result[i].name, Result[i].count5);
						cancelledData.push(cancelled);

						var workTypeNames = new Array(Result[i].name);
						workTypeNamesData.push(workTypeNames);
					}

					drilldowns = {
						workTypeName: {
							name: 'Not Started',
							data: notStartedData,
							color: '#66c2ff'
						},
						workTypeName_1: {
							name: 'In Progress',
							data: inProgressData,
							color: '#FFDD33'
						},
						workTypeName_2: {
							name: 'On Hold',
							data: onHoldData,
							color: '#ff794d'
						},
						workTypeName_3: {
							name: 'Completed',
							data: completedData,
							color: '#85e085'
						},
						workTypeName_4: {
							name: 'Cancelled',
							data: cancelledData,
							color: '#ffb3ff'
						}
					}
				},
				error: function (Result) {
					alert("Error" + Result);
				}
			});
			return drilldowns;
		}

		function getSEOfficeWiseDataByCEOfficeId(id, name) {
			var finalData = {};
			$.ajax({
				type: "GET",
				contentType: "application/json; charset=utf-8",
				url: "seOfficeWiseWorksCount?ceOfficeId=" + id,
				dataType: "json",
				async: false,
				success: function (Result) {
					var chartData = [];
					for (var i in Result) {
						var data = new Array(Result[i].name, Result[i].count1);
						chartData.push(data);
					}
					finalData = {name: name, id: id, data: chartData, drilldown: true};
				},
				error: function (Result) {
					alert("Error" + Result);
				}
			});
			return finalData;
		}

		$(document).ready(function () {

			$.ajax({
				type: "GET",
				contentType: "application/json; charset=utf-8",
				url: "workTypeWiseStatus",
				dataType: "json",
				success: function (Result) {

					var notStartedData = [];
					var inProgressData = [];
					var onHoldData = [];
					var completedData = [];
					var cancelledData = [];
					var workTypeNamesData = [];
					for (var i in Result) {

						var notStarted = {name: Result[i].name, y: Result[i].count1, drilldown: true, id: Result[i].id};
						//var notStarted = new Array(Result[i].name, Result[i].count1);
						notStartedData.push(notStarted);

						var inProgress = {name: Result[i].name, y: Result[i].count2, drilldown: true, id: Result[i].id};
						//var inProgress = new Array(Result[i].name, Result[i].count2);
						inProgressData.push(inProgress);

						var onHold = {name: Result[i].name, y: Result[i].count3, drilldown: true, id: Result[i].id};
						//var onHold = new Array(Result[i].name, Result[i].count3);
						onHoldData.push(onHold);

						var completed = {name: Result[i].name, y: Result[i].count4, drilldown: true, id: Result[i].id};
						completedData.push(completed);
						//var completed = new Array(Result[i].name, Result[i].count4);

						var cancelled = {name: Result[i].name, y: Result[i].count5, drilldown: true, id: Result[i].id};
						cancelledData.push(cancelled);

					}
					obj = [{
						name: 'Completed',
						data: completedData,
						color: '#85e085'
					},
					{
						name: 'In Progress',
						data: inProgressData,
						color: '#FFDD33'
					},
					{
						name: 'On Hold',
						data: onHoldData,
						color: '#ff794d'
					},
					{
						name: 'Cancelled',
						data: cancelledData,
						color: '#ffb3ff'
					},
					{
						name: 'Not Started',
						data: notStartedData,
						color: '#66c2ff'
					}
					];

					DrawWorkTypeChart(obj, workTypeNamesData);
				},
				error: function (Result) {
					alert("Error" + Result);
				}
			});

			$.ajax({
				type: "GET",
				contentType: "application/json; charset=utf-8",
				url: "statusWiseWorkStatus",
				dataType: "json",
				success: function (Result) {
					var chartData = [];
					for (var i in Result) {
						var color = '';
						if (Result[i].id == 1) {
							color = '#66c2ff';
						}
						else if (Result[i].id == 2) {
							color = '#FFDD33';
						}
						else if (Result[i].id == 3) {
							color = '#ff794d';
						}
						else if (Result[i].id == 4) {
							color = '#85e085';
						}
						else if (Result[i].id == 5) {
							color = '#ffb3ff';
						}
						var chart = {name: Result[i].name, y: Result[i].count1, color: color};
						//var chart = new Array(Result[i].name, Result[i].count1, color);
						chartData.push(chart);
					}
					DrawStatusWisePieChart(chartData);
				},
				error: function (Result) {
					alert("Error" + Result);
				}
			});

			$.ajax({
				type: "GET",
				contentType: "application/json; charset=utf-8",
				url: "ceOfficeWiseWorksCount",
				dataType: "json",
				success: function (Result) {
					var chartData = [];
					for (var i in Result) {
						var color = '';
						if (Result[i].id == 1) {
							color = '#66c2ff';
						}
						else if (Result[i].id == 2) {
							color = '#ffb3ff';
						}
						else if (Result[i].id == 3) {
							color = '#ff794d';
						}
						else if (Result[i].id == 4) {
							color = '#85e085';
						} else if (Result[i].id == 4) {
							color = '#85e085';
						}
						//var chart = new Array(Result[i].name, Result[i].count1);
						var chart = {name: Result[i].name, y: Result[i].count1, drilldown: true, id: Result[i].id};
						chartData.push(chart);
					}
					DrawOfficeWisePieChart(chartData);
				},
				error: function (Result) {
					alert("Error" + Result);
				}
			});

		});
		/*]]>*/
	</script>
	<script type="text/javascript">
		/*<![CDATA[*/
		//Plug-in to fetch page data 
		jQuery.fn.dataTableExt.oApi.fnPagingInfo = function (oSettings) {
			return {
				"iStart": oSettings._iDisplayStart,
				"iEnd": oSettings.fnDisplayEnd(),
				"iLength": oSettings._iDisplayLength,
				"iTotal": oSettings.fnRecordsTotal(),
				"iFilteredTotal": oSettings.fnRecordsDisplay(),
				"iPage": oSettings._iDisplayLength === -1 ? 0 : Math
					.ceil(oSettings._iDisplayStart / oSettings._iDisplayLength),
				"iTotalPages": oSettings._iDisplayLength === -1 ? 0 : Math
					.ceil(oSettings.fnRecordsDisplay()
						/ oSettings._iDisplayLength)
			};
		};
		var t = null;
		function fetchDistrictWiseWorkStatusList() {

			t = $("#dynamic-table")
				.DataTable(
					{
						"processing": true,
						"serverSide": true,
						"sort": "position",
						//bStateSave variable you can use to save state on client cookies: set value "true" 
						"bStateSave": false,
						//Default: Page display length
						"iDisplayLength": 10,
						//We will use below variable to track page number on server side(For more information visit: http://legacy.datatables.net/usage/options#iDisplayStart)
						"iDisplayStart": 0,
						"pagingType": "full_numbers",
						"aaSorting": [],
						/* "dom" : 'Blrtip', */
						"dom": "<'row'<'col-12 datatbl-top'lB>>"
							+ "<'row'<'col-md-6'r><'col-md-6'>>"
							+ "<'row'<'col-md-12't>><'row'<'col-md-6'i><'col-md-6'p>>",
						"buttons": [
							{
								extend: 'excelHtml5',
								title: 'District_wise_work_status',
								text: '<span class="fa fa-file-excel-o"></span> Excel Export',
								exportOptions: {
									columns: [0, 1, 2, 3, 4, 5]
								}
							},],
						"lengthMenu": [[10, 25, 50, 100000],
						[10, 25, 50, "All"]],

						"fnDrawCallback": function () {

							//angular.element('#StartOrFinishSpinnerId').scope().startOrStopSpinner(false);

							//Get page numer on client. Please note: number start from 0 So
							//for the first page you will see 0 second page 1 third page 2...
							//Un-comment below alert to see page number
							//alert("Current page number: "+this.fnPagingInfo().iPage);    
						},
						"fnRowCallback": function (nRow, aData,
							iDisplayIndex, iDisplayIndexFull) {
								/* $('td:eq(0)', nRow)
										.html(
												(this.fnPagingInfo().iPage
								 * this.fnPagingInfo().iLength + (iDisplayIndex + 1))) */;
						},

						"language": {
							searchPlaceholder: ""
						},
						"sAjaxSource": "districtWiseWorkStatusForTable?isThematicMap=true",

						"columns": [{
							"data": "numbering",
							"bSortable": false
						}, {
							"data": "name"
						}, {
							"data": "count4",
							"bSortable": false
						}, {
							"data": "count2",
							"bSortable": false
						}, {
							"data": "count3",
							"bSortable": false
						}, {
							"data": "count5",
							"bSortable": false
						}, {
							"data": "count1",
							"bSortable": false
						}],

					});
		}


		/*]]>*/
	</script>
</head>

<body data-ng-controller="HomePageController" dw-loading="sample-1" dw-loading-options="{text: 'Loading....'}"
	onload="loadThematicMap();">

	<!-- Start Navigation -->
	<nav class="navbar navbar-default navbar-mobile bootsnav">
		<div class="brand-section">
			<div class="container">
				<div class="row">
					<div class="col-md-6 brand">
						<div class="row">
							<div class="col-xs-3 no-padding">
								<img th:src="@{/new/images/brand/logo.png}"
									alt="ग्रामीण यांत्रिकी सेवा ~ Rural Engineering Service"
									class="img-responsive center-block" width="112px;" />
							</div>
							<div class="col-xs-9 no-padding">
								<div class="brand-title">Online Works Management System</div>
								<div class="brand-title" style="font-size: 20px; margin: 0px;">ग्रामीण
									यांत्रिकी सेवा ~ Rural Engineering Service</div>
								<div class="brand-subtitle">पंचायत एवं ग्रामीण विकास
									विभाग, म.प्र. | Panchayat &amp; Rural Development Dept., M.P.</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<span class="btn-right">
							<a class="btn" id="login-btn">LOGIN</a>
							<div id="login-wrap">
								<div class="panel">
									<div class="panel-heading" style="border-bottom: 1px solid #00000052;">
										<div class="panel-title">Sign In</div>
									</div>

									<div style="padding-top: 30px" class="panel-body">

										<form th:action="@{/login}" method="post" id="loginform" class="form-horizontal"
											role="form">
											<div class="text-success login_info" th:if="${message != null}">
												<strong>Success!</strong>
												<p th:text="${message}">Success message!</p>
											</div>

											<div class="text-danger login_info" th:if="${error != null}">
												<strong>Error!</strong>
												<p th:text="${error}">Error message!</p>
											</div>
											<div style="margin-bottom: 25px" class="input-group">
												<span class="input-group-addon"><em
														class="now-ui-icons users_single-02"></em></span> <input
													id="login-username" type="text" class="form-control" name="username"
													value="" placeholder="username or email" required="required" />
											</div>
											<div style="margin-bottom: 25px" class="input-group">
												<span class="input-group-addon"><em
														class="now-ui-icons ui-1_lock-circle-open"></em></span> <input
													id="login-password" type="password" class="form-control"
													name="password" placeholder="password" required="required"
													AUTOCOMPLETE="off" />
											</div>
											<div class="input-group row"
												style="margin-bottom: 25px; position: relative;">
												<div class="col-sm-6">
													<img id="captcha_id" name="imgCaptcha"
														th:src="@{/captcha?type=login}" /> <a href="#"
														class="refresh"><img th:src="@{/img/refresh.ico}"
															onclick="document.getElementById('captcha_id').src = 'captcha?' + Math.random() + '&amp;type=login';  return false" /></a>
												</div>
												<div class="col-sm-6">
													<input name="captchaText" id="captchaText" type="text" maxlength="6"
														autocomplete="off" required="required" class="form-control"
														placeholder="Captcha" />
												</div>
											</div>

											<!-- <div class="input-group">
                                      <div class="checkbox">
                                        <label>
                                          <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                                        </label>
                                      </div>
                                    </div> -->
											<div style="margin-top: 10px" class="form-group">
												<!-- Button -->
												<div class="col-sm-12 controls">
													<!--  <a id="btn-login" href="#" class="btn btn-success">Login  </a> -->
													<input id="btn-login" type="submit" class="btn btn-success btn-half"
														value="Login" />

													<a th:href="@{/registrationForm}" class="btn btn-warning btn-half">
														<span>Sign Up</span>
													</a>
												</div>
											</div>
											<div class="col-12">
												<a th:href="@{/forgotpassword}" class="btn btn-link px-0"
													style="float: right;"> <span>Forgot password?</span>
												</a>
												<!-- <button type="button" class="btn btn-link px-0">Forgot
										password?</button> -->
											</div>
											<!-- <div class="form-group">
							<div class="col-md-12 control">
								<div
									style="border-top: 1px solid #888; padding-top: 15px; font-size: 85%">
									Don't have an account?
									<a href="#"> Sign Up Here </a>
									<a th:href="@{/signup}"> <span>Sign Up Here</span>
									</a>
								</div>
							</div>
						</div> -->
										</form>



									</div>
								</div>
							</div>
						</span>
						<div class="date-time hidden-xs hidden-sm">
							<span><a th:href="@{/contactUs}" title="Contact Us"><i
										class="fa fa-phone-square animated"></i> Contact Us</a></span>
							<div class="clock">
								<div id="hours"></div>
								<div id="min"></div>
								<div id="sec"></div>
								<div id="ampm"></div>
							</div>
							<div id="Date"></div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</nav>
	<!-- End Navigation -->
	<!-- End Navigation -->
	<div class="header">
		<div class="container">

		</div>
	</div>

	<div class="container" style="padding: 20px 0px;">
		<div class="row">
			<div class="col-md-7">
				<div class="title">
					<span>ग्रामीण अभियंत्रण सेवा</span> के बारे में
				</div>
				<p class="text-justify">ग्रामीण यांत्रिकी सेवा का गठन वर्ष 1976
					में म.प्र. शासन, पंचायत एवं ग्रामीण विकास विभाग के अंतर्गत किया
					गया। इसका उद्देश्‍य शहरी क्षेत्र अर्थात् जिला मुख्यालय एवं नगरीय
					क्षेत्र को छोड़कर ग्रामीण क्षेत्रों में अपेक्षाकृत कम लागत के
					निर्माण कार्यों का संपादन करना एवं त्रिस्तरीय पंचायत राज संस्थाओं
					द्वारा संपादित किये जा रहे समस्त निर्माण कार्यों पर तकनीकी सलाह एवं
					तकनीकी नियंत्रण का कार्य करना था।...</p>
				<a href="#" class="btn-text">और पढे</a>
			</div>


			<div class="col-md-5">
				<div class="row">
					<div class="col-sm-6 relative mb-30">
						<div class="leader bg-1">
							<img th:src="@{/new/images/cm_round.jpeg}" class="img-responsive" />
						</div>
						<div class="ribbon">
							<span class="ribbon-content">
								<div class="name">श्री मोहन यादव</div>
							</span>
						</div>
						<div class="designation">मुख्यमंत्री (म.प्र.)</div>
					</div>
					<div class="col-sm-6 relative mb-30">
						<div class="leader bg-1">
							<img th:src="@{/new/images/minister.jpeg}" class="img-responsive" />
						</div>
						<div class="ribbon">
							<span class="ribbon-content">
								<div class="name">श्री प्रहलाद पटेल</div>
							</span>
						</div>
						<div class="designation">पंचायत एवं ग्रामीण विकास,मध्य प्रदेश</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="counter">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<a href="" class="count-box-wrap">
						<div class="count-box">
							<em class="flaticon-university"></em>
							<div>9</div>
							<div>No of Work Cleared</div>
						</div>
					</a>
				</div>
				<div class="col-md-2">
					<a href="" class="count-box-wrap">
						<div class="count-box">
							<em class="flaticon-graphic"></em>
							<div>4</div>
							<div>Building work</div>
						</div>
					</a>
				</div>
				<div class="col-md-2">
					<a href="" class="count-box-wrap">
						<div class="count-box">
							<em class="flaticon-arched-bridge"></em>
							<div>4</div>
							<div>Bridge Work</div>
						</div>
					</a>
				</div>
				<div class="col-md-2">
					<a href="" class="count-box-wrap">
						<div class="count-box">
							<em class="flaticon-water-faucet"></em>
							<div>3</div>
							<div>Tube well Work</div>
						</div>
					</a>
				</div>
				<div class="col-md-2">
					<a href="" class="count-box-wrap">
						<div class="count-box">
							<em class="flaticon-technology"></em>
							<div>8</div>
							<div>Sports grounds</div>
						</div>
					</a>
				</div>
				<div class="col-md-2">
					<a href="" class="count-box-wrap">
						<div class="count-box">
							<em class="flaticon-road"></em>
							<div>2</div>
							<div>Road construction</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div> -->
	<div class="dashboard">
		<div class="container" style="padding: 20px 0px;">

			<div class="row">
				<div class="col-md-12 text-right">
					<a target="_blank" class="btn btn-dashboard"
						href="https://app.powerbi.com/view?r=eyJrIjoiOTQxMDVkMDktZTI3MS00ZTJjLWI4YzktZTFlNGJmODZjNmVkIiwidCI6IjYzMzI3N2ExLTFmMDctNGU5Mi04MDQwLWNiOGNkYmQ2NTQxNCJ9">Dashboard
						- Works Monitoring &nbsp;<em class="fa fa-arrow-right"></em></a>
				</div>
				<div class="col-md-8">
					<div id="mapid"
						style="min-height:680px;text-align: center;position: relative;box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);-webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);">
					</div>

				</div>
				<div class="col-md-4">

					<div class="panel panel-success">
						<div class="panel-heading">
							<em class="nc-icon nc-preferences"></em> Status Wise Work Status
						</div>
						<div class="panel-default" id="statusWisePieContainer" style="height: 283px;"></div>

					</div>

					<div class="panel panel-success">
						<div class="panel-heading">
							<em class="nc-icon nc-square-download"></em> Office Wise Works Count
						</div>
						<!--  <div class="panel-body" style="height: 225px">
						<canvas id="polar_area" />
					</div>-->
						<div class="panel-default" id="officeWisePieContainer" style="height: 283px;"></div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="tabsection">
		<div class="container">
			<div class="row" data-ng-init="fetchDistrictWiseWorkStatusList()">
				<div class="col-md-6 no-padding">
					<div class="panel panel-primary" style="min-height: 580px;">
						<div class="panel-heading">
							<em class="nc-icon nc-archive-paper"></em>District Wise Work Status
						</div>
						<div class="panel-body">

							<div class="table-responsive">
								<table id="dynamic-table"
									class="table table-striped table-bordered table-hover table-outline">
									<thead class="thead-default">
										<tr>
											<th><span>#</span></th>
											<th><span>District Name</span></th>
											<th style="color:#85e085"><span>Completed</span></th>
											<th style="color:#FFDD33"><span>In Progress</span></th>
											<th style="color:#ff794d"><span>On Hold</span></th>
											<th style="color:#ffb3ff"><span>Cancelled</span></th>
											<th style="color:#66c2ff"><span>Not Started</span></th>
										</tr>
									</thead>
								</table>
							</div>
							<!--  <table class="table table-responsive table-bordered display"
							id="table_id">
							<thead>
								<tr>
									<th>District</th>
									<th>Completed</th>
									<th>In Progress</th>
									<th>On Hold</th>
									<th>Not Started</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Bhopal</td>
									<td>1</td>
									<td>1</td>
									<td>1</td>
									<td>0</td>
								</tr>
								<tr>
									<td>Morena</td>
									<td>10</td>
									<td>8</td>
									<td>7</td>
									<td>1</td>
								</tr>
								

							</tbody>
						</table>-->
						</div>
					</div>
					<!--  <div class="panel panel-default">
						<div class="panel-heading">Visitor</div>
						<div class="panel-body tab-content">
						
						</div> 
					</div>-->

				</div>
				<div class="col-md-6">
					<div class="panel panel-default" id="workTypeChartContainer" style="height: 580px;">
						<!--  <div class="panel-heading">
							<em class="nc-icon nc-archive-2"></em> विभाग द्वारा किया गया
							कार्य ।
						</div>
						<div class="panel-body">
							<canvas id="myChart"></canvas>
						</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>



	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="carouselTicker" class="carouselTicker">
						<ul class="carouselTicker__list">
							<li class="carouselTicker__item"><a href="#" target="_blank">
									<img th:src="@{/new/images/department/1.png}" class="img-responsive" />
								</a></li>
							<li class="carouselTicker__item"><a href="#" target="_blank">
									<img th:src="@{/new/images/department/2.png}" class="img-responsive" />
								</a></li>
							<li class="carouselTicker__item"><a href="#" target="_blank">
									<img th:src="@{/new/images/department/3.png}" class="img-responsive" />
								</a></li>
							<li class="carouselTicker__item"><a href="#" target="_blank">
									<img th:src="@{/new/images/department/4.png}" class="img-responsive" />
								</a></li>
							<li class="carouselTicker__item"><a href="#" target="_blank">
									<img th:src="@{/new/images/department/5.jpg}" class="img-responsive" />
								</a></li>
							<li class="carouselTicker__item"><a href="#" target="_blank">
									<img th:src="@{/new/images/department/6.png}" class="img-responsive" />
								</a></li>
							<li class="carouselTicker__item"><a href="#" target="_blank">
									<img th:src="@{/new/images/department/1.png}" class="img-responsive" />
								</a></li>
							<li class="carouselTicker__item"><a href="#" target="_blank">
									<img th:src="@{/new/images/department/2.png}" class="img-responsive" />
								</a></li>
							<li class="carouselTicker__item"><a href="#" target="_blank">
									<img th:src="@{/new/images/department/3.png}" class="img-responsive" />
								</a></li>
							<li class="carouselTicker__item"><a href="#" target="_blank">
									<img th:src="@{/new/images/department/4.png}" class="img-responsive" />
								</a></li>
							<li class="carouselTicker__item"><a href="#" target="_blank">
									<img th:src="@{/new/images/department/5.jpg}" class="img-responsive" />
								</a></li>
							<li class="carouselTicker__item"><a href="#" target="_blank">
									<img th:src="@{/new/images/department/6.png}" class="img-responsive" />
								</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>


		<div class="container copyright">
			<div class="row">
				<div class="col-md-6">Copyright 2020 Rural Engineering
					Services. All Rights Reserved.</div>
				<div class="col-md-6 text-right">Designed &amp; developed by
					Center of Excellence (CoE), <a target="_blank" style="color: #ddd" href="http:///www.mapit.gov.in"
						title="MAP_IT">MAP_IT</a></div>
			</div>
		</div>
	</footer>
	<!-- START JAVASCRIPT -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script th:src="@{/new/js/ClockPlugin.js}"></script>
	<script th:src="@{/new/js/chart/Chart.js}"></script>
	<script th:src="@{/new/js/chart/Chart.bundle.js}"></script>
	<script th:src="@{/new/js/thumbticker.js}"></script>
	<script th:src="@{/angular/HomePageController.js}"></script>



	<script type="text/javascript">
		$(document).ready(function () {
			//$('#table_id').DataTable();
		});
	</script>
	<script type="text/javascript">
		$(window).on("load", function () {
			$("#carouselTicker").carouselTicker();
		});
	</script>
	<script th:src="@{/js/sha256.js}"></script>
	<script type="text/javascript" th:inline="javascript">

		/*<![CDATA[*/
		$("#login-btn").click(function () {
			$("#login-wrap").fadeToggle(200);
		});
		/*var log_box = $('#login-wrap,#login-btn');
		$(document).mouseup(function(e) {
			if (!log_box.is(e.target) && log_box.has(e.target).length === 0) {
				$('#login-wrap:visible').fadeOut(200);
			}
		});*/
		/*]]>*/
		$(document)
			.ready(
				function () {
					if ($('.login_info').length) {
						$('#login-wrap').show();
					}
					$('#btn-login')
						.click(
							function () {
								if ($.trim($('#login-username').val()) == ''
									|| $.trim($('#login-password').val()) == ''
									|| $.trim($('#captchaText').val()) == '') {
									//alert("Please enter User Name and Password");
								} else {
									var hashObj = new jsSHA("SHA-256", "TEXT", "1");
									hashObj.update($('#login-password').val());
									$("#login-password").val(hashObj.getHash("HEX"));
								}
							});
				});
	</script>
</body>

</html>